<%= title t('buttons.resend_confirmation_instructions')  %>
<section class='page-header page-header-xs'>
  <div class='container'>
    <h1>
      إعادة إرسال رسالة التفعيل
    </h1>
    <ol class='breadcrumb'>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          الرئيسية
        <% end %>
      </li>
      <li class='active'>
        إعادة إرسال رسالة التفعيل
      </li>
    </ol>
  </div>
</section>

<section class='section pb-60'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='box-border-shadow p-20'>
          <%= bootstrap_email_error_messages! %>
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
            <%= f.hidden_field :store_id, :value => @current_store.id %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.button t('buttons.resend_confirmation_instructions'), class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('buttons.resend_confirmation_instructions_loading')} ..."} %>
          <% end %>
          <hr>
          <div class='row'>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('buttons.signup'), new_registration_path(resource_name) %>
            </div>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('buttons.login'), new_session_path(resource_name), class: "pull-left" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>