<p style="direction:rtl;text-align:right;color:#444;">السلام عليكم <%= @resource.fullname %></p>

<p style="direction:rtl;text-align:right;color:#444;">نحن سعداء بانضمامك وبقي خطوة واحدة فقط لتفعيل حسابك. يرجى الضغط على الزر التالي لتفعيل حسابك لتتمكن بعدها من تسجيل الدخول اليه:</p>

<p style="direction:rtl;text-align:right;"><%= link_to "تفعيل الحساب" , confirmation_url(@resource, confirmation_token: @token, host: @resource.store.full_domain) %></p>

<p style="direction:rtl;text-align:right;color:#444;">وصلتك هذه الرسالة لأنك سجّلت في <%= @resource.store.slogan || Settings.website_name %>.</p>

<p style="direction:rtl;text-align:right;color:#444;">إن لم تنشئ حسابًا أو تظن أن هذه الرسالة وصلتك بالخطأ بإمكانك تجاهلها.</p>

<br>

<p style="direction:rtl;text-align:right;color:#444;">مع أطيب التحيات</p>
<p style="direction:rtl;text-align:right;color:#444;">فريق <%= @resource.store.slogan || Settings.website_name %></p>
<p style="direction:rtl;text-align:right;color:#444;"><a href="<%= @resource.store.full_domain %>"><%= @resource.store.full_domain %></a></p>