<p style="direction:rtl;text-align:right;color:#444;">السلام عليكم <%= @resource.fullname %></p>

<p style="direction:rtl;text-align:right;color:#444;">لقد طلبت إستعادة كلمة المرور بحسابك في <%= @resource.store.slogan || Settings.website_name %>.</p>
<p style="direction:rtl;text-align:right;color:#444;">إذا كنت ترغب بتغيير كلمة المرور الخاصة بك يرجى الضغط على الرابط التالي.</p>
<p style="direction:rtl;text-align:right;"><%= link_to "تعديل كلمة المرور", edit_password_url(@resource, reset_password_token: @token, host: @resource.store.full_domain) %></p>
<br>
<p style="direction:rtl;text-align:right;color:#444;">مع أطيب التحيات</p>
<p style="direction:rtl;text-align:right;color:#444;">فريق <%= @resource.store.slogan || Settings.website_name %></p>
<p style="direction:rtl;text-align:right;color:#444;"><a href="<%= @resource.store.full_domain %>"><%= @resource.store.full_domain %></a></p>