<%= form_for([:admin, @page], html: { class: 'form-horizontal page' } ) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :slug, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :meta_description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :meta_description, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :meta_keywords, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :meta_keywords, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :content, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :published, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :published %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
