<section class="content-header">
  <h1>
    Pages
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Pages</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>slug</th>
                <th>Published</th>
              </tr>
              <% @pages.each do |page| %>
                <tr>
                  <td><%= page.id %></td>
                  <td><%= link_to page.title, edit_admin_page_path(page) %></td>
                  <td><%= link_to page.slug, root_url(locale: :ar) + "/p/#{page.slug}" %></td>
                  <td><%= page.published %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @pages %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <%= link_to 'new page', new_admin_page_path,class: 'btn btn-default' %>
    </div>
  </div>
</section>

