<div class="white-block mb-20">
  <div class="row bs-wizard">
    <div class="col-xs-4 bs-wizard-step complete ">
      <div class="text-center bs-wizard-stepnum"><%= t('order.wizard.step1') %></div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href = "/cart" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-4 bs-wizard-step complete ">
      <!-- complete -->
      <div class="text-center bs-wizard-stepnum"><%= t('order.wizard.step2') %></div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href ="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-4 bs-wizard-step active complete ">
      <!-- complete -->
      <div class="text-center bs-wizard-stepnum"><%= t('order.wizard.step3') %></div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>