<section class="page-header page-header-xs">
  <div class="container">
    <h1><%= t('header.cart') %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <i class="fa fa-cart-plus"></i>
        <%= link_to root_path do  %>
         <%= t('header.home') %>
        <% end %>
      </li>
      <li>  
        <%= t('header.cart') %>
      </li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->

<!-- CART -->
<section class="pt-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <% if @cart.total_less_than_min && !@cart.items.empty? %>
      <div class="alert alert-danger text-center cart_less">
        <%== t('info.cart_price', cart_price: @cart.price, min_order_total: @cart.store.min_order_total, currency: @cart.store.currency ) %>
      </div>
    <% end %>

    <% if @cart.items.empty? %>
      <!-- EMPTY CART -->
      <div class="white-block text-center">
        <p><strong><%= t('cart.empty') %></strong></p>
        <%= t('cart.click') %>
        <%= link_to t('cart.here'), products_path, class: "theme-color"  %> 
        <%= t('cart.continue_shopping') %>
      </div>
      <!-- /EMPTY CART -->
    <% else %>
      <!-- CART -->
      <div class="row cart">
        <!-- LEFT -->
        <div class="col-lg-9 col-sm-8">
          <div id="cartContent" class="white-block" >
            <table id="cart_table" class="mb-0">
              <tbody>
                <tr>
                  <th width="15%"></th>
                  <th><%= t('cart.product_name') %></th>
                  <th width="16%"><%= t('cart.quantity') %></th>
                  <th width="14%"><%= t('cart.price') %></th>
                  <th width="5%"></th>
                </tr>
                  <% @cart.items.each do |item|%>
                    <tr class='item-<%= item.id %>' >
                      <td>
                        <%= image_tag url_for(item.product.images[0].variant(resize_to_limit: [160, 160])), class: 'cart_item_image' %>
                      </td>
                      <td>
                        <%= item.product.title %>
                      </td>
                      <td>
                          <%= link_to  increase_cart_item_path(item , product_id: item.product.id),method: :post, remote: true, class: "cart_quantity_up #{"hidden" if !item.can_increase_quantity?}"  do  %>
                             <i class="fa fa-plus-square"></i> <i class="fa fa-spinner fa-spin hidden"></i>
                          <% end %>

                          <input class="cart_item_quantity" disabled id="input_quantity-<%= item.id %>" value="<%= item.quantity %>">
                          <%= link_to  decrease_cart_item_path(item, product_id: item.product.id),method: :post, remote: true, class: "cart_quantity_down #{"hidden" unless item.quantity > 1}" do %>
                            <i class="fa fa-minus-square"></i> <i class="fa fa-spinner fa-spin hidden"></i>
                           <% end %>
                      </td>
                      <td> 
                        <span id='cart_item_quantity-<%= item.id %>'><%= item.quantity %></span>  &times; <sapn><%= item.price %></span>
                      </td>
                      <td>
                        <%= link_to cart_item_path(item), remote: true, method: :delete, class: "c-red delete-item"  do  %>
                           <i class="fa fa-trash"></i>
                           <i class="fa fa-spinner fa-spin hidden"></i>
                         <% end %>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
         <div class="clearfix"></div>
        </div>

        <!-- RIGHT -->
        <div class="col-lg-3 col-sm-4">
          <div class="white-block">
            <span class="clearfix">
              <span class="pull-left" id='cart_price'><%= @cart.price %> <span><%= @current_store.currency %></span></span>
              <strong class="pull-right"><%= t('cart.total') %> :</strong>
            </span>

            <span class="clearfix">
              <span class="pull-left" id='cart_delivery_price'><%= @cart.delivery_price %><span> </span> <%= @current_store.currency  %></span>
              <strong class="pull-right"><%= t('cart.delivery_price') %> :</strong>
            </span>

            <hr />

            <span class="clearfix">
              <span class="pull-left size-20" id="cart_total_price"><%= @cart.total_price %> <span> <%= @current_store.currency  %></span></span>
              <strong class="pull-right"><%= t('cart.total_price') %> :</strong>
            </span>

            <hr />
            <a class="btn btn-primary btn-lg btn-block size-15 <%= 'disabled' if @cart.total_less_than_min %> " id="new_order" <%= 'disabled' if @cart.total_less_than_min %> href="/orders/new">
              <i class="fa fa-truck"></i> <%= t('order.new') %>
            </a>
          </div>
        </div>
      </div>
      <!-- /CART -->
    <% end %>
  </div>
</section>
