<tr>
    <td class="product-image">
      <%= link_to product_path(favorite.product.category.slug, favorite.product_id)  do %>
        <%= image_tag url_for(favorite.product.images[0].variant(resize_to_limit: [50, 50])), class: 'favorite_item_image' %>
      <% end %>
    </td>
  <td class="details-td">
    <h3 class="details-head">
      <%= link_to product_path(favorite.product.category.slug, favorite.product_id)  do %>
        <%= favorite.product.title %>
      <% end %>
    </h3>
    <ul class="details-list">
      <li><%= favorite.product.price %> <span class="font-weight-bold"><%= @current_store.currency %></span> </li>
    </ul>
  </td>
  <td class="text-center"> 
    <a href="#delete_fav" data-id="<%= favorite.product.id %>" class="delete_fav c-red"><i class=" fa fa-trash"></i> </a>
  </td>

</tr>