<% title t('header.favorite') %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= t('header.favorite') %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to products_path do  %>
          <i class="fa fa-cart-plus"></i> <%= t('header.home') %>
        <% end %>
      </li>
      <li> <%= t('header.favorite') %></li>
    </ol><!-- /breadcrumbs -->
  </div>

</section>
<!-- /PAGE HEADER -->

<section class="padding-top-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <div class="row">

      <!-- RIGHT -->
      <div class="col-lg-3 col-sm-4">
        <div class="buttons-autohide margin-bottom-60 text-center">
          <a href="#">
            <%= image_tag 'off_1.png', class: "img-responsive", width: "270", height: "350"  %>
          </a>
        </div>
      </div>
      <!-- LEFT -->
      <div class="col-lg-9 col-sm-8 table-responsive">
        <div class="white-block p-0">
          <% if @favorites.count > 0 %>
            <table id="favorite_table">
              <tbody>
                <colgroup>
                  <col width="col-lg-1">
                  <col class="col-lg-10">
                  <col width="col-lg-1">
                </colgroup>
                <%= render @favorites %>
              </tbody>
            </table>
          <% else %>
            <!-- EMPTY CART -->
            <div class="text-center white-block">
              <strong><%= t('favorite.empty') %></strong><br />
              <%= t('cart.click') %>
              <%= link_to t('cart.here'), products_path  %> 
              <%= t('cart.continue_shopping') %>
            </div>
            <!-- /EMPTY CART -->
          <% end %>
        </div>
        <div class="text-center">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
    <!-- /CART -->
  </div>
</section>  


<%= content_for :footer do %>
  <%= render partial: 'shared/modal/content', locals: { id: 'delete_fav' } %>
<% end %>

