<% title t('header.search_result') %>

<section class="page-header page-header-xs">
  <div class="container">

    <% if @category  %>
      <h1><%= @category.name %></h1>
    <% else %>
      <h1><%= t('header.search_result') %>: <%= params[:q] %></h1>
    <% end %>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <i class="fa fa-cart-plus"></i>
        <%= link_to root_path do  %>
         <%= t('header.shop') %>
        <% end %>
      </li>
      <li>  
        <i class="fa fa-search"></i> 
        <%= t('header.search') %>
      </li>

    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->

<!-- -->
<section>
  <div class="container">
    <div class="row">
      <%= render 'shared/bootstrap_alert' %>

      <!-- LEFT -->
      <div class="col-lg-3 col-md-3 col-sm-3 ">

        <!-- CATEGORIES -->
        <div class="side-nav margin-bottom-60">

          <div class="side-nav-head">
            <button class="fa fa-bars"></button>
            <h4 class="text-center"><%= t('landing.header.categories')  %></h4>
          </div>

          <ul class="list-group list-group-bordered list-group-noicon uppercase">
            <%= render partial: 'products/category', collection: @categories %>  
          </ul>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="col-lg-9 col-md-9 col-sm-9 ">
        <ul class="shop-item-list row list-inline nomargin">
          <% if @products.count > 0  %>
            <%= render @products %>
          <% else %>
            <p class="text-center"><%= t('info.no_result') %></p>
          <% end %>
        </ul>
        <hr />
        <div class="text-center">
          <%= paginate @products  %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / -->