<%= title t('buttons.login') %>

<section class='page-header page-header-xs'>
  <div class='container'>
    <h1>
      <%= t('header.login') %>
    </h1>
    <ol class='breadcrumb'>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <%= t('header.home') %>
        <% end %>
      </li>
      <li class='active'>
        <%= t('header.login') %>
      </li>
    </ol>
  </div>
</section>
<section class='section pt-0'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='box-border-shadow p-20'>
          <%= render "shared/bootstrap_alert" %>
          <div class='soical_button'>
            <div class='row'>
              <div class='col-md-6 col-md-offset-3'>
                <%= link_to  user_facebook_omniauth_authorize_path,class: "btn btn-block btn-primary btn-facebook" do %>
                  <i class="fa fa-facebook"></i>
                  <%= t('buttons.login_by_facebook') %>
                <% end %>
              </div>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: "clearfix" }) do |f| %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="checkbox remember_me ">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  <%= t('buttons.remember_me') %>
                <% end %>
              </div>
            <% end %>
            <%= f.button t('buttons.login'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.login_loading')} ..."} %>
            <br>
          <% end %>
          <hr>
          <div class='row'>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('buttons.signup'), new_registration_path(resource_name) %>
            </div>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('info.forget_password'), new_password_path(resource_name), class: "pull-left" %>
            </div>
          </div>
        </div>
        <p class="text-center m-top-20">
          <%= t('info.confirmation_instructions_question') %>
          <br> 
          <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to t('buttons.resend_confirmation_instructions'), new_confirmation_path(resource_name) %>
          <% end %>
      </div>
    </div>
  </div>
</section>
