<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">
  <h1>
    Today
  </h1>
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.today.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.today.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.today.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.today.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <h1>
    Yesterday
  </h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.yesterday.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.yesterday.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.yesterday.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.yesterday.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <h1>
    Week
  </h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.week.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.week.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.week.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.week.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <h1>
    This Month
  </h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>

  <h1>
   Last Month
  </h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.prev_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.prev_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.prev_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.prev_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>

  <h1>
   Last Three Month
  </h1>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">all orders</span>
          <span class="info-box-number"><%= Order.three_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green "><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Complete Orders</span>
          <span class="info-box-number"><%= Order.completed_orders.three_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel Orders</span>
          <span class="info-box-number"><%= Order.cancelled_orders.three_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cart-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Executing orders</span>
          <span class="info-box-number"><%= Order.executing_orders.three_month.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
</section>

