<%= title "الصفحة الرئيسية" %>
<%= render "shared/stores/cover_image" %>
<!-- FEATURED -->
<section>
  <div class="container">
    <h2 class="noborder size-20">المنتجات المميزة</h2>
    <div class="featured nomargin">
      <div class="row">
        <%= render @products, page: "main_store" %>
      </div>
    </div>
  </div>

  <% @current_store.categories.each do  |category| %>
    <div class="container">
      <h2 class="noborder size-20">منتجات <%= category.name %></h2>
      <div class="featured nomargin">
        <div class="row">
          <% @products = category.products.limit(4) %>
          <%= render @products, page: "main_store" %>
        </div>
      </div>
    </div>
  <% end %>
</section>
<!-- /FEATURED -->
<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->