h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: 'Droid Arabic Kufi', sans-serif !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 28px;
  margin: 0 0 44px 0;
}
h2 {
  font-size: 24px;
  margin: 0 0 32px 0;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 18px;
  margin: 0 0 14px 0;
}
h5 {
  font-size: 14px;
  margin: 0 0 20px 0;
}
h6 {
  font-size: 12px;
  margin: 0 0 20px 0;
}
h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
  color: $black;
}
