html, body {
  height:100%;
  direction: ltr;
}
body {
  color: $black;
  background-color: $white;
  font-family: $font-naskh !important;
  -webkit-font-smoothing: antialiased;
  font-size: $normal-size; 
  line-height: 1.5;
  margin:0; 
  padding:0;
}

button::-moz-focus-inner, 
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
:active,
:focus {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none !important;
}
::selection {
  color: #fff;
  text-shadow: none;
  background: #333;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #333;
}
::-webkit-selection {
  color: #fff;
  text-shadow: none;
  background: #333;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
img {
  border: 0;
  vertical-align: top;
  &.img-responsive {
    display: inline-block;
  }
}
input {
  &:-webkit-autofill {
    color: #ffffff !important;
  }
}
textarea {
  resize: none;
  resize: vertical;
}
textarea, input, button, *:focus {
  outline: none !important;
}
select {
  border: 2px solid #E5E7E9;
  height: 46px;
  padding: 12px;
  outline: none;
  line-height: 1 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
label {
  font-weight: 400;
}
iframe,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
audio, canvas, img, video {
  vertical-align: middle;
}
p {
  display: block;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a {
  -webkit-transition: all .300s;
  -moz-transition: all .300s;
  -o-transition: all .300s;
  transition: all .300s;
}
a, a:focus, a:hover, a:active {
  outline: 0;
  cursor: pointer;
}

a {
  color: $black;
  text-decoration:none;
}

a:active,
a:focus,
a:hover { 
  color: $theme-color;
  text-decoration:none;
}

p, pre, ul, ol, dl, dd, blockquote,
address, table, fieldset, form {
  margin-bottom: $massive-margin;
}
canvas {
  width: 100% !important;
  height: auto !important;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0 none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section {
  &.dark {
    pre {
      color: #ccc;
      border-color: rgba(0,0,0,0.2);
      background-color: rgba(0,0,0,0.2);
    }
  }
}
div {
  &.row {
    div {
      img {
        &.img-responsive {
          width: 100%;
        }
      }
    }
  }
}

.btn {
  border-radius: 0 !important;
}

.theme-color {
  color: $theme-color;
}
