.table-responsive {
  border: none !important;
}

.details-td {
  width: 100%;
}

.details-head {
  margin: 0 0 5px !important;
  font-size: 18px;
  display: block;
  font-weight: normal !important;
}

.details-list {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  li {
    font-size: 12px;
    display: inline-block;
    padding-right: 0;
    margin: 0 0 5px 5px !important;
    i {
      margin: 0;
    }
    a {
      color: #444;
    }
  }
}

#orders_table {
  overflow-x: auto;
}

#cart_table tr,
#favorite_table tr,
#orders_table tr {
border-bottom: 1px solid #ECEFF4;
}

#products_table tr {
  border-top: 1px solid #ECEFF4;
}

#cart_table tr:last-child,
#favorite_table tr:last-child {
border-bottom: 0;
}

#orders_table,
#products_table,
#favorite_table {
  width: 100%;
  min-width: 100%;
}

#cart_table tr td, 
#favorite_table tr td,
#products_table tr td {
  padding: 20px;
}

#orders_table tr td {
  padding: 18px;
  width: auto;
}
#cart_table tr th, 
#orders_table tr th , 
#favorite_table tr th,
#products_table tr th {
  padding: 0 20px 20px 20px ;
}

table#cart_table.table tr th {
  padding: 20px;
}
table#cart_table.table tr:last-child {
  border-bottom: 1px solid #ECEFF4 !important;
}
#products_table td:first-child {
  padding-left: 0;
}

.stack h4 {
  font-size: 16px !important;
}

table tr:last-child {
  border: 0;
}

#favorite_table .shop-item-buttons a.btn-default {
  border: 0;
  background-color: rgba(0,0,0,0.1)
}

#cart_table .service_title {
  font-size: 15px;
}

#cart_table .cart_item_image, #favorite_table .favorite_item_image {
  height: 80px;
  width: 80px;
}


#cart_table .cart_item_quantity {
  width: 40px;
  text-align: center;
}

.cart_quantity_up {
  padding-left: 5px;
  color: #3072e0;
}
.cart_quantity_up:hover, .cart_quantity_down:hover {
   color: #3072e0;
}

.cart_quantity_down {
  padding-right: 5px;
  color: #3072e0;
}
.cart_delete_item {
  color: red;
}

.cart_delete_item:hover {
  color: red;
}
