<%= form_for([:admin, @review], html: { class: 'form-horizontal review' } ) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rate,  class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :rate, max: 5, min: 1, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hidden, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :hidden %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deleted, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :deleted %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
