<tr>
  <td>
    <%= link_to edit_admin_user_path(review.user)  do %>
      <%= review.user.fullname %> <i class="fa fa-user"></i>
    <% end %>
  </td>
  <td>
    <%= link_to  edit_admin_product_path(review.product) do  %>
      <%= image_tag review.product.image.small.url, class: "cat_img"  %>
      <%= review.product.ar_name %>
    <% end %>
  </td>
  <td><%= review.content %></td>
  <td><%= review.rate %></td>
  <td><span class="label <%= !review.hidden ? 'bg-green' : 'bg-red' %>"><%= review.hidden %></span></td>
  <td><span class="label <%= !review.deleted ? 'bg-green' : 'bg-red' %>"><%= review.deleted %></span></td>
  <td>
    <%= link_to "Edit", edit_admin_review_path(review.id) %>
  </td>
</tr>