<section class="content-header">
  <h1>
    Reviews
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Reviews</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>User</th>
                <th>Product</th>
                <th>Content</th>
                <th>Star</th>
                <th>Hidden</th>
                <th>Deleted</th>
                <th></th>
              </tr>
              <%= render @reviews %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @reviews %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
