<%= form_for([:admin, @order], html: { class: 'form-horizontal order' })  do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :detail, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :detail, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :user_id, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :latitude, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :latitude, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :longitude, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :longitude, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin_detail, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :admin_detail, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:status, Order.statuses.keys.map {|status| [status.titleize,status]}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:country, Order.statuses.keys.map {|status| [status.titleize,status]}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_cart_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :order_cart_id, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :store_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :store_id, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
