<ul class="list-unstyled">
  <% @order.order_items.each do |order_item| %>
    <li class="media-list">
      <div class="media">
        <div class="media-left">
          <%= image_tag order_item.product.image.url, class: "cat_img" %>
        </div>

        <div class="media-body">
          <div class="col-md-12">
            <h4><%= order_item.product.title %></h4>
          </div>
          <div class="col-md-3">
            Price: <%= order_item.product.price %>
          </div>
          <div class="col-md-3">
            quantity: <%= order_item.quantity %>
          </div>
          <div class="col-md-3">
            total_price: <%= order_item.total_price %>
          </div>
        </div>
      </div>
    </li>
    <hr>

  <% end %>
</ul>
