<section class="content-header">
  <h1>
    Orders
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Orders</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Orders Filter and Search </h3>

          <div class="box-tools">
            <form action="<%= admin_orders_path %>" method="GET">
              <div class="pull-left" style="margin-right: 10px;">
                <%= select_tag "filter", options_for_select([ "executing_orders", "completed_orders", "cancelled_orders" ], params[:filter] || "executing_orders"), class: 'form-control ', style: "height: 30px;" %> 
              </div>
              <div class="col-lg-5 input-group custom-search-form">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>User</th>
                <th>Status</th>
                <th>Total Price</th>
                <th></th>
              </tr>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to order.id, admin_order_path(order.id) %></td>
                  <td><%= order.user.fullname %></td>
                  <td><%= order.status %></td>
                  <td><%= order.total_price %></td>
                  <td>
                    <%= link_to 'Edit', edit_admin_order_path(order.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @orders %>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>

