<section class="content-header">
  <h1>
   New Page
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="<%= admin_pages_path %>"><i class="fa fa-tags"></i> Pages</a></li>
    <li class="active">New Page</li>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-body">
          <div id="map"></div>

          <dl class="dl-horizontal">
            <dt><strong>Id:</strong></dt>
            <dd><%= @order.id %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>User:</strong></dt>
            <dd><%= @order.user.fullname %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Detail:(User)</strong></dt>
            <dd><%= @order.detail %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>admin_detail:(Admin)</strong></dt>
            <dd><%= @order.admin_detail %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>delivery price:</strong></dt>
            <dd><%= @order.delivery_price %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>total price:</strong></dt>
            <dd><%= @order.total_price %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Created at:</strong></dt>
            <dd><%= @order.created_at %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Updated at:</strong></dt>
            <dd><%= @order.updated_at %></dd>
          </dl>


          <hr>

          <h1>Order OrderItems </h1>
          <%= render 'admin/orders/order_item' %>

        </div>
      </div>
    <%= link_to 'Edit', edit_admin_order_path(@order.id), class: 'btn btn-default' %>
    <%= link_to 'Back', admin_orders_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>



<script type="text/javascript">
  var map;
  $(document).ready(
    function(){
      map = new GMaps({
        el: '#map',
        lat: <%= @order.lat %>,
        lng: <%= @order.lng %>
      });
      map.addMarker({
        lat: <%= @order.lat %>,
        lng: <%= @order.lng %>,
        title: "<%= @order.user.fullname %>",
        infoWindow: {
          content: "<p>رقم الطلب: #<%= @order.id %></p> <p>اسم المشتري: <%= @order.user.fullname %></p><p>رقم الجوال: <%= @order.user.mobile %></p>"
        }
      });
    }
  );
</script>