<% submit_name = action_name.eql?("edit") ? "تعديل" : "إنشاء" %>
<%= form_for([:dashboard, @category], html: { class: 'mb-0' } ) do |f| %>

  <div class="form-group <%= 'has-error' if @category.errors[:name].any? %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <small class="help-block <%= 'hidden' unless  @category.errors[:name].any? %>"><%= @category.errors[:name].first %></small>
  </div>

  <div class="form-group <%= 'has-error' if @category.errors[:slug].any? %>">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
    <small class="help-block <%= 'hidden' unless  @category.errors[:slug].any? %>"><%= @category.errors[:slug].first %></small>
  </div>

  <div class="clearfix">
    <%= f.button submit_name, class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{submit_name} ..."} %>
  </div>
<% end %>
