<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>التصنيفات
          <%= link_to 'تصنيف جديد', new_dashboard_category_path, class: 'btn btn-primary pull-left btn-sm' %>
        </h3>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>الاسم</th>
                <th>slug/الرابط</th>
                <th>الحالة</th>
                <th></th>
              </tr>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td><%= category.slug %></td>
                  <td id="category-status-<%= category.id %>"><%= print_category_status(category.hidden) %></td>
                  <td>
                    <div class="pull-left">
                      <div class="dropdown btn-group pull-left">
                        <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>
                            <span class="hidden-xs"> خيارات</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                          
                        <ul class="dropdown-menu dropdown-left dropdown-menu-left">
                          <li>
                            <%= link_to  edit_dashboard_category_path(category.id) do %>
                              <i class="fa fa-pencil"></i> تعديل التصنيف
                            <% end %>
                          </li>
                          <li role="separator" class="divider"></li>

                          <li class="<%= "hidden" if category.hidden? %>" id="hide-category-<%= category.id %>">
                            <%= link_to  hide_dashboard_category_path(category.id), method: :put, remote: true do %>
                               <i class="fa fa-eye-slash"></i> إخفاء التصنيف
                            <% end %>
                          </li>

                          <li class="<%= "hidden" unless category.hidden %>" id="unhide-category-<%= category.id %>">
                            <%= link_to  unhide_dashboard_category_path(category.id), method: :put, remote: true do %>
                               <i class="fa fa-eye"></i> إظهار التصنيف
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->