<% title 'تصنيف جديد' %>

<section>
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <%= render 'dashboard/shared/sidebar' %>

      <!-- LEFT -->
      <div class="col-lg-9 col-md-8 col-sm-8">
        <div class="white-block">
          <h3>تصنيف جديد</h3>
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / -->