$("#hide-category-<%= @category.id %>").removeClass("hidden");
$("#unhide-category-<%= @category.id %>").addClass("hidden");
$("#category-status-<%= @category.id %>").html("<%= print_category_status(@category.hidden) %>");