<% if current_user.favorite_product?(@product.id)  %>
  <li><%= link_to  destroy_favorite_path(:product_id => @product.id),remote: true, method: :delete, class: 'add-wishlist' do  %>
     <i class=" fa fa-heart fa-fw"></i> <i class='fa fa-spinner fa-spin fa-lg hidden '></i> إزالة من المفضلة
    <% end %>
  </li>
<% else  %>
  <li><%= link_to  favorite_path(:product_id => @product.id) ,remote: true, method: :post, class: 'add-wishlist' do  %>
     <i class="fa fa-heart-o fa-fw"></i> <i class='fa fa-spinner fa-spin fa-lg hidden '></i> أضف الى المفضلة 
    <% end %>
  </li>
<% end %>
<% if current_user.can_add_review?(@product.id) %>
  <li><a href="#review_form"><i class="fa fa-thumbs-up fa-fw"></i> <%= t('review.review_product') %></a></li>
<% end %>