<footer id="footer" class="footer-light bg-white">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <!-- Footer Logo -->
        <%# = image_tag "logo_light.png",class: "footer-logo" %>
        <!-- Contact Address -->
        <h3>
          <%= t('footer.info_contact') %>
        </h3>
        <address></address>
        <ul class='footer-links list-unstyled'>
          <li class='footer-sprite address'>
            <i class='fa fa-map-marker'></i>
            <%= t('footer.address') %>
            <%= Settings.info.address %>
          </li>
          <li class='footer-sprite phone'>
            <i class='fa fa-phone'></i>
            <%= t('footer.phone') %>
            <%= Settings.info.mobile %>
          </li>
          <li class='footer-sprite email'>
            <i class='fa fa-envelope'></i>
            <%= t('footer.email')  %>
            <a href="<%= Settings.info.email %>"><%= Settings.info.email %></a>
          </li>
        </ul>
        <!-- /Contact Address -->
      </div>
      <div class='col-md-4'>
        <!-- Links -->
        <h3>
          <%= Settings.website_name %>
        </h3>
        <ul class='footer-links list-unstyled'>
          <li>
            <a href="/p/about">
              <%= t("footer.pages.about") %>
            </a>
          </li>
          <li>
            <a href="/p/terms">
              <%= t("footer.pages.terms") %>
            </a>
          </li>
          <li>
            <a href="/p/privacy">
              <%= t("footer.pages.privacy") %>
            </a>
          </li>
          <li>
            <a href="/p/faq">
              <%= t("footer.pages.faq") %>
            </a>
          </li>
          <li>
            <a href="/p/contact-us">
              <%= t("footer.pages.contactus") %>
            </a>
          </li>
        </ul>
        <!-- /Links -->
      </div>
      <div class='col-md-4'>
        <h3>
          <%= t('footer.flow') %>
        </h3>
        <!-- social icons -->
        <div class="margin-top-20">

          <a href="<%= Settings.social.facebook %>" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="<%= Settings.social.twitter %>" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="<%= Settings.social.telegram %>" class="social-icon social-icon-sm social-telegram" data-toggle="tooltip" data-placement="top" title="Telegram">
            <i class="fa fa-telegram"></i>
            <i class="fa fa-telegram"></i>
          </a>

          <a href="#" class="social-icon social-icon-sm social-rss" data-toggle="tooltip" data-placement="top" title="RSS">
            <i class="icon-rss"></i>
            <i class="icon-rss"></i>
          </a>

        </div>
        <!-- /social icons -->
      </div>
    </div>
  </div>
  <div class='copyright'>
    <div class='container'>
      <ul class="pull-left nomargin list-inline mobile-block">
        <li><a href="#">شروط الاستخدام</a></li>
        <li>•</li>
        <li><a href="#">بيان الخصوصية</a></li>
      </ul>
      <ul class="pull-right nomargin list-inline mobile-block">
        <li>© <%= Time.now.year %> جميع الحقوق محفوظة لمنصة اتجار </li>
      </ul>
    </div>
  </div>
</footer>
<a href='#' id='toTop'></a>