<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<meta name='description'
    content='<%= yield_meta_tag(:description, Settings.meta.description) %>' />
<meta name='keywords'
    content='<%= yield_meta_tag(:keywords, Settings.meta.keywords) %>' />

<link rel="shortcut icon" type="image/png" href="<%= image_path 'favicon.png' %>">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css">

<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_pack_tag 'application' %>
<%= csrf_meta_tags %>
