<div id="header" class="sticky header-sm clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <button type="button" class="btn btn-mobile navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
        <i class="fa fa-bars"></i>
      </button>

      <%= link_to root_path ,class: "logo pull-right" do  %>
        <%= image_tag "logo.png", class: "img-responsive"%>
      <% end %>

      <div class="pull-right navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-fade navbar-offcanvas-right" id="js-bootstrap-offcanvas">
        <div class="mobile-menu">
          <h3 class="weight-600">القائمة
            <button type="button" class="navbar-toggle offcanvas-toggle pull-left ml-0" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
              <i class="fa fa-times size-25"></i>
            </button>
          </h3>
          
        </div>
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user"></i>
                <%= t('buttons.signup') %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- /Top Nav -->
</div>


