<!-- Top Bar -->
<div id="topBar" class="dark">
  <div class="container">

    <!-- right -->
    <ul class="top-links list-inline pull-right">
      <li class="text-welcome hidden-xs">Welcome to Smarty, <strong>John Doe</strong></li>
      <li>
        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
        <ul class="dropdown-menu pull-right">
          <li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> MY WISHLIST</a></li>
          <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> MY REVIEWS</a></li>
          <li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
        </ul>
      </li>
      <li class="hidden-xs"><a href="page-login-1.html">LOGIN</a></li>
      <li class="hidden-xs"><a href="page-register-1.html">REGISTER</a></li>
    </ul>

    <!-- left -->
    <ul class="top-links list-inline">
      <li class="hidden-xs"><a href="page-faq-1.html">FAQ</a></li>
      <li>
        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
        <ul class="dropdown-langs dropdown-menu">
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/de.png" width="16" height="11" alt="lang" /> GERMAN</a></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/ru.png" width="16" height="11" alt="lang" /> RUSSIAN</a></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/it.png" width="16" height="11" alt="lang" /> ITALIAN</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">USD</a>
        <ul class="dropdown-langs dropdown-menu">
          <li><a tabindex="-1" href="#">USD</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#">EUR</a></li>
          <li><a tabindex="-1" href="#">GBP</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
<!-- /Top Bar -->
