<body class='smoothscroll enable-animation'>
  <div id='wrapper'>
    <div class='sticky fixed header-sm' id='header'>
      <!-- TOP NAV -->
      <header id='topNav'>
        <div class='container'>
          <!-- Mobile Menu Button -->
          <button class='navbar-toggle offcanvas-toggle pull-right' data-target='#js-bootstrap-offcanvas' data-toggle='offcanvas'>
            <i class='fa fa-bars'></i>
          </button>
          <!-- Logo -->
          <%= link_to root_path , class: "logo pull-right" do %>
            <%= image_tag "logo.png" %>
          <% end %>
          <div class='pull-left navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-fade navbar-offcanvas-right' id='js-bootstrap-offcanvas'>
            <nav class='nav-main'>
              <ul class='nav nav-pills nav-main nav-onepage' id='topMain'>
                <li class='active'>
                  <!-- HOME -->
                  <a href='#slider'> <%= t('landing_page.header.home') %>
                  </a>
                </li>
                <li>
                  <!-- FEATURES -->
                  <a href='#features'>
                    <%= t('landing_page.header.features') %>
                  </a>
                </li>
                <li>
                  <!-- PRICING -->
                  <a href='#how'>
                    <%= t('landing_page.header.how') %>
                  </a>
                </li>
                <li>
                  <!-- TESTIMONIALS -->
                  <a href='#pricing'>
                    <%= t('landing_page.header.pricing') %>
                  </a>
                </li>
                <li>
                  <!-- PURCHASE -->
                  <a href='#categories'>
                    <%= t('landing_page.header.categories') %>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- /Top Nav -->
    </div>
    <section class="section-video padding-xlg">
      <div class="overlay dark-6"><!-- dark overlay [1 to 9 opacity] --></div>

      <div class="section-container-video">

        <video poster="<%= image_path("back.jpg") %>" preload="auto" loop autoplay muted>
          <source src='<%= image_path("back.webm") %>' type='video/webm' />
          <source src='<%= image_path("back.mp4") %>' type='video/mp4' />
        </video>

      </div>

      <div class="container">

        <div class="text-center">
          <h2 class="nomargin weight-600"><%= t('landing_page.title') %></h2>
          <p class="lead size-18 margin-top-20"><%= t('landing_page.subtitle') %></p>
          <a class='btn btn-primary btn-lg' data-wow-delay= "0.59" href = "/register"><i class='fa fa-shopping-cart'></i>
            <%= t('buttons.create_store') %>
          </a>
        </div>


      </div>
    </section>

    <section id='features' class="bg-white">
      <div class='container'>
        <header class='text-center margin-bottom-60'>
          <h2 class='weight-300'>
            <%= t('landing_page.header.features') %>
          </h2>
          <p class='font-lato margin-top-20'>
            <%= t('landing_page.features.title') %>
          </p>
          <hr>
        </header>
        <!-- FEATURED BOXES 3 -->
        <div class='row'>
          <div class='col-md-3 col-xs-6'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-profile-male'></i>
              <h4>
                <%= t('landing_page.features.n1.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n1.content') %>
              </p>
            </div>
          </div>
          <div class='col-md-3 col-xs-6'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-clock'></i>
              <h4>
                <%= t('landing_page.features.n2.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n2.content') %>
              </p>
            </div>
          </div>
          <div class='col-md-3 col-xs-6'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-wallet'></i>
              <h4>
                <%= t('landing_page.features.n3.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n3.content') %>
              </p>
            </div>
          </div>
          <div class='col-md-3 col-xs-6'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-global'></i>
              <h4>
                <%= t('landing_page.features.n4.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n4.content') %>
              </p>
            </div>
          </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
        <!-- FEATURED BOXES 3 -->
        <div class='row'>
          <div class='col-md-3 col-xs-6 col-md-offset-3'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-gears'></i>
              <h4>
                <%= t('landing_page.features.n5.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n5.content') %>
              </p>
            </div>
          </div>
          <div class='col-md-3 col-xs-6'>
            <div class='text-center'>
              <i class='ico-light ico-lg ico-rounded ico-hover et-tools'></i>
              <h4>
                <%= t('landing_page.features.n6.title') %>
              </h4>
              <p>
                <%= t('landing_page.features.n6.content') %>
              </p>
            </div>
          </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
      </div>
    </section>

    <section id='how'>
      <div class='container wow fadeInUp' data-wow-delay='300ms' data-wow-duration='1000ms'>
        <div class='head_title text-center'>
          <h2 class='weight-300 nomargin '>
            <%= t('landing_page.header.how') %>
          </h2>
          <p class='margin-top-10'>
            خطوات ثلاث بسيطة هي ما تفصلك عن تجهيز متجرك 
          </p>
        </div>
        <ul class="process-steps process-steps-square nav nav-justified mt-40">
          <li class="active">
            <a href="#step1" data-toggle="tab"><i class="fa fa-user"></i></a>
            <h5>أنشئ حساب </h5>
          </li>
          <li>
            <a href="#step2" data-toggle="tab"><i class="fa fa-cog"></i></a>
            <h5>خصص متجرك</h5>
          </li>
          <li>
            <a href="#step3" data-toggle="tab"><i class="fa fa-shopping-cart"></i></a>
            <h5>انشر متجرك</h5>
          </li>
        </ul>

        <div class="tab-content margin-top-40 text-center">
          <div role="tabpanel" class="tab-pane active" id="step1">
            <h4>أنشئ حساب</h4>
            أنشئ حسابك بخطوات بسيطة، مع وضع عنوانك الصحيح لاعتماده للتوصيل مع رقم هاتفك. 
          </div>

          <div role="tabpanel" class="tab-pane" id="step2">
            <h4>خصص متجرك</h4>
            استعرض المنتجات واضف ما تريده منها الى سلة المشتريات، عندما تنتهي انشأ طلب شراء لكي نتمكن من تلبيته لك وايصاله اليك باسرع وقت ممكن. 
          </div>

          <div role="tabpanel" class="tab-pane" id="step3">
            <h4>انشر متجرك</h4>
            عند وصول المنتجات التي طلبتها الى باب بيتك تأكد منها و سدد ثمنها 
          </div>
        </div>
      </div>
    </section>

    <section class="parallax parallax-2" style="background-image: url(<%= image_path('social-back.jpg') %>);">
      <div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>

      <div class="container">

        <div class="text-center">
          <h3 class="nomargin weight-300 size-25 font-lato"> سارع بالانضمام </h3>
          <p class="font-lato weight-300 mt-10  mb-40">لا تفكر كثيرا أنشئ متجرك و ابدأ تجارتك الالكترونية بشكل احترافي مجانا </p>
          <a class='btn btn-primary btn-lg wow fadeInUp' data-wow-delay= "0.59" href = "/register"><i class='fa fa-shopping-cart'></i>
            <%= t('buttons.create_store') %>
          </a>
        </div>

        <ul class="margin-top-40 block social-icons text-center list-unstyled list-inline">
          <li>
            <a target="_blank" href="#">
              <i class="fa fa-facebook"></i>
              <h4>Facebook</h4>
              <span>Be Our Friend</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="#">
              <i class="fa fa-twitter"></i>
              <h4>Twitter</h4>
              <span>Follow Us</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="#">
              <i class="fa fa-instagram"></i>
              <h4>Instagram</h4>
              <span>See Our Images</span>
            </a>
          </li>
        </ul>

      </div>
    </section>

    <section id='faq' class="bg-white">
      <div class="container">
        <header class='text-center margin-bottom-60'>
          <h2 class='weight-300'>
            <%= t('landing_page.header.faq') %>
          </h2>
        </header>
        <div class="row mix-grid">
          <div class="col-md-12">

            <!-- TOGGLES -->
            <div class="toggle toggle-transparent">

              <div class="toggle mix design"><!-- toggle -->
                <label>1. ما هو موقع اتجار ؟</label>
                <div class="toggle-content">
                  <p class="clearfix">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                  </p>

                </div>
              </div><!-- /toggle -->

              <div class="toggle mix photography"><!-- toggle -->
                <label>2. هل اتحتاج خبرة تقنية لبناء متجر من خلال اتجار ؟</label>
                <div class="toggle-content">
                  <p class="clearfix">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                  </p>

                </div>
              </div><!-- /toggle -->

              <div class="toggle mix design"><!-- toggle -->
                <label>3. هذا النص هو مثال لنص يمكن أن يستبدل في نفس ؟</label>
                <div class="toggle-content">
                  <p class="clearfix">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                  </p>

                </div>
              </div><!-- /toggle -->

              <div class="toggle mix development"><!-- toggle -->
                <label>4. هذا النص هو مثال لنص يمكن أن يستبدل في نفس ؟</label>
                <div class="toggle-content">
                  <p class="clearfix">
                   هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                  </p>

                </div>
              </div><!-- /toggle -->

              <div class="toggle mix photography"><!-- toggle -->
                <label>5. هذا النص هو مثال لنص يمكن أن يستبدل في نفس ؟</label>
                <div class="toggle-content">
                  <p class="clearfix">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                  </p>

                </div>
              </div><!-- /toggle -->

            </div>
            <!-- /TOGGLES -->
          </div>
        </div>
      </div>
    </section>

    <section id='pricing' class="pb-0">
      <div class='container'>
        <div class='head_title text-center'>
          <h2 class='weight-300 nomargin wow fadeInUp' data-wow-delay='0.4s'>
            <%= t('landing_page.header.pricing') %>
          </h2>
          <p class="margin-top-10 wow fadeInUp" data-wow-delay= "0.59">
            <%= t('landing_page.pricing.content') %>
          </p>
          <hr>
        </div>
        <div class="row pricetable-container">

          <div class="col-md-3 col-sm-3 price-table">
            <h3>الاساسي</h3>
            <p> 
              مجانا
            </p>

            <ul>
              <li>عدد منتجات : 15</li>
              <li>عدد عملاء و طلبات: 300</li>
              <li> - </li>
              <li> - </li>
              <li> - </li>
              <li>دعم فني 24/7</li>
              <li> - </li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-3 price-table">
            <h3>الانطلاقة</h3>
            <p> 
              $25
              <span>شهريا</span>
            </p>
            <ul>
              <li>عدد منتجات : 200</li>
              <li>عدد عملاء و طلبات: 3000</li>
              <li>ربط نطاقك الخاص بمتجرك</li>
              <li>خرائط جوجل</li>
              <li> - </li>
              <li>دعم فني 24/7</li>
              <li> - </li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-3 price-table">
            <h3>الأعمال</h3>
            <p> 
              $75
              <span>شهريا</span>
            </p>
            <ul class="pricetable-items">
              <li>عدد منتجات :لا نهائي</li>
              <li>عدد عملاء و طلبات: لا نهائي</li>
              <li>ربط نطاقك الخاص بمتجرك</li>
              <li>خرائط جوجل</li>
              <li>احصائيات متقدمة</li>
              <li>دعم فني 24/7</li>
              <li> - </li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-3 price-table">
            <h3>نمو</h3>
            <p> 
              $100
              <span>شهريا</span>
            </p>
            <ul>
              <li>عدد منتجات :لا نهائي</li>
              <li>عدد عملاء و طلبات: لا نهائي</li>
              <li>ربط نطاقك الخاص بمتجرك</li>
              <li>خرائط جوجل</li>
              <li>احصائيات متقدمة</li>
              <li>دعم فني 24/7</li>
              <li>تطبيق جوال خاص بمتجرك</li>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <section id="register">
      <div class='display-table'>
        <div class='display-table-cell vertical-align-middle'>
          <div class='container text-center'>
            <a class='btn btn-primary btn-lg wow fadeInUp' data-wow-delay= "0.59" href = "/register"><i class='fa fa-shopping-cart'></i>
              <%= t('buttons.create_store') %>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
