<% title @page.title %>
<% meta_tag(:description, @page.meta_description)  %>
<% meta_tag(:keywords, @page.meta_keywords)  %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= @page.title %></h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to root_path do  %>  
          <i class="fa fa-home"></i> <%= t('header.home') %>
        <% end %>
      </li>
      <li> <%= @page.title %></li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>
<!-- /PAGE HEADER -->

<section class="pt-0">
  <div class="container">
    <div class="white-block page">
      <%== (@page.content) %>
    </div>
  </div>
</section>