<%= form_for([:dashboard, @review], html: { class: 'mb-0' } ) do |f| %>
  <div class="form-group <%= 'has-error' if @review.errors[:content].any? %>">
    <%= f.label :content, "محتوى التقييم" %>
    <%= f.text_area :content, class: 'form-control' %>
    <small class="help-block <%= 'hidden' unless  @review.errors[:content].any? %>"><%= @review.errors[:content].first %></small>
  </div>

  <div class="form-group">
    <%= f.label :hidden do %>
      <%= f.check_box :hidden %>
      اخفاء التقييم
    <% end %>
  </div>

  <div class="clearfix">
    <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
  </div>
<% end %>
