$("#hide-review-<%= @review.id %>").addClass("hidden");
$("#unhide-review-<%= @review.id %>").removeClass("hidden");
$("#review-status-<%= @review.id %>").html("<%= print_review_status(@review.hidden) %>");