<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>التقييمات</h3>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th صهيفا="35%">الخدمة</th>
                <th صهيفا="20%">النجوم</th>
                <th صهيفا="20%">المستخدم</th>
                <th صهيفا="10%"></th>
                <th صهيفا="15%"></th>
              </tr>
              <% @reviews.each do |review| %>
                <tr>
                  <td><%= review.id %></td>
                  <td><%= link_to review.product.title, edit_dashboard_product_path(review.product.id) %></td>
                  <td>
                    <span class="size-14 text-muted"><!-- stars -->
                      <div class="rating rating-<%= review.rate %> size-13 margin-top-10 width-100"></div>
                    </span>
                  </td>
                  <td><%= review.user.fullname %></td>
                  <td class="text-center" id="review-status-<%= review.id %>"><%= print_review_status(review.hidden) %></td>
                  <td>
                    <div class="pull-left">
                      <div class="dropdown btn-group pull-left">
                        <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>
                            <span class="hidden-xs"> خيارات</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                          
                        <ul class="dropdown-menu dropdown-left dropdown-menu-left">
                          <li>
                            <%= link_to  edit_dashboard_review_path(review.id) do %>
                              <i class="fa fa-pencil"></i> تعديل التقييم
                            <% end %>
                          </li>
                          <li role="separator" class="divider"></li>

                          <li class="<%= "hidden" if review.hidden? %>" id="hide-review-<%= review.id %>">
                            <%= link_to  hide_dashboard_review_path(review.id), method: :put, remote: true do %>
                               <i class="fa fa-eye-slash"></i> إخفاء التقييم
                            <% end %>
                          </li>

                          <li class="<%= "hidden" unless review.hidden %>" id="unhide-review-<%= review.id %>">
                            <%= link_to  unhide_dashboard_review_path(review.id), method: :put, remote: true do %>
                               <i class="fa fa-eye"></i> إظهار التقييم
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->