<tr>
  <td class="details-td">
    <%= link_to order_path(order),  class: 'order-link'  do %>
      <h3 class="details-head">
        الطلب: #<%= order.id %>
      </h3>
      <ul class="details-list">
        <li><i class="fa fa-fw fa-user"></i><span> <%= order.user.fullname %></span> </li>
        <li><i class="fa fa-fw fa-info-circle"></i> <span><%= print_order_status(order.status ) %></span></li>
        <li><i class="fa fa-fw fa-clock-o"></i> <span> <%= order.created_at.strftime("%F") %></span> </li>
      </ul>
    <% end %>
  </td>

  <td class="text-left">
    <%= order.total_price %> <span class="font-weight-bold"><%= @current_store.currency %></span>
  </td>
  
</tr>
