<% title t('order.index') %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= t('order.index') %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to cart_path do  %>
          <i class="fa fa-cart-plus"></i> <%= t('header.home') %>
        <% end %>
      </li>
      <li> <%= t('order.index') %></li>
    </ol><!-- /breadcrumbs -->
  </div>

</section>
<!-- /PAGE HEADER -->


<section class="padding-top-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <div class="row">

      <div class="col-lg-3 col-sm-4">
        <div class="side-nav margin-bottom-40">
          <div class="side-nav-head">
            <button class="fa fa-bars"></button>
            <h4>حالة الطلب</h4>
          </div>

          <div class="order-filter side-nav">
            <ul class="list-group list-group-noicon">
              <li class="list-group-item pr-0">
                <%= link_to orders_path do  %>
                جميع الطلبات <span class="size-11 text-muted pull-left">(<%= @current_user.orders.count %>)</span>
                <% end %>
              </li>
              <li class="list-group-item pr-0">
                <%= link_to orders_path(:status => "executing") do  %>
                قيد التنفيذ <span class="size-11 text-muted pull-left">(<%= @current_user.orders.executing_orders.count %>)</span>
                <% end %>
              </li>
              <li class="list-group-item pr-0">
                <%= link_to orders_path(:status => "completed") do  %>
                تم الاستلام <span class="size-11 text-muted pull-left">(<%= @current_user.orders.completed_orders.count %>)</span>
                <% end %>
              </li>
              <li class="list-group-item pr-0">
                <%= link_to orders_path(:status => "cancelled") do  %>
                ملغية <span class="size-11 text-muted pull-left">(<%= @current_user.orders.cancelled_orders.count %>)</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="owl-carousel hidden buttons-autohide controlls-over margin-bottom-60 text-center" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": true, "pagination": false, "transitionStyle":"goDown"}'>
          <a href="#">
            <%= image_tag 'off_1.png', class: "img-responsive", width: "270", height: "350"  %>
          </a>
          <a href="#">
            <%= image_tag 'off_2.png', class: "img-responsive", width: "270", height: "350"  %>
          </a>
        </div>
      </div>

      <!-- LEFT -->
      <div class="col-lg-9 col-sm-8 table-responsive">
        <div class="white-block p-0">
          <table id="orders_table">
            <colgroup>
              <col class="col-lg-10">
              <col width="col-lg-2">
            </colgroup>
            <tbody>
              <%= render @orders %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
    <!-- /CART -->
  </div>
</section>  