<% title t('order.new') %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= t('order.new') %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to cart_path do  %>
          <i class="fa fa-cart-plus"></i> <%= t('header.cart') %>
        <% end %>
      </li>
      <li> <%= t('order.new') %></li>
    </ol><!-- /breadcrumbs -->
  </div>

</section>
<!-- /PAGE HEADER -->


<section class="padding-top-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <div class="white-block mb-20">
      <div class="row bs-wizard">
        <div class="col-xs-4 bs-wizard-step complete ">
          <div class="text-center bs-wizard-stepnum <%= I18n.locale.to_s %>"><%= t('order.wizard.step1') %></div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href = "/cart" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-4 bs-wizard-step   ">
          <!-- complete -->
          <div class="text-center bs-wizard-stepnum"><%= t('order.wizard.step2') %></div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href ="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-4 bs-wizard-step ">
          <!-- complete -->
          <div class="text-center bs-wizard-stepnum"><%= t('order.wizard.step3') %></div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-right">
        <div class="toggle-bordered-full clearfix">
          <div class="toggle active">
            <div class="toggle-content">
              <span class="clearfix">
                <span class="pull-left" id='cart_price'><%= @cart.price %> <span> <%= @current_store.currency %></span></span>
                <strong class="pull-right"><%= t('cart.total') %> :</strong>
              </span>
              <span class="clearfix">
                <span class="pull-left" id='cart_delivery_price_mobile'><%= @cart.delivery_price %><span> </span> <%= @current_store.currency %></span>
                <strong class="pull-right"><%= t('cart.delivery_price') %> :</strong>
              </span>
              <hr />
              <span class="clearfix">
                <span class="pull-left size-20" id="cart_total_price_mobile"><%= @cart.total_price %> <span> <%= @current_store.currency %></span></span>
                <strong class="pull-right"><%= t('cart.total_price') %> :</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-8">
        <div class="white-block">
          <div class="heading-title mb-20">
            <h4>تفاصيل الشحن</h4>
          </div>
          <% if !@current_store.delivery_time? %>
            <div class="alert alert-info text-center">
              <p>يرجى الانتباه بان الطلب لن يتم توصيله حاليا لان خدمة التوصيل تعمل خلال المدة التالية:<br> 
                <strong dir="ltr"><%= print_delivery_start_at %></strong> إلى <strong dir="ltr"><%= print_delivery_end_at %></strong>
              </p>
              <div class="margin-top-20">
                <h5><%= t('order.delivery_info') %></h5>

                <div class="countdown" data-from="<%= delivary_time %>" data-labels="years,months,weeks,days,hour,min,sec">
                  <!-- years,months,weeks,days,hour,min,sec -->
                </div>
              </div>
            </div>
          <% end %>

          <%= form_for(@order) do |f| %>
            <div id="place-on-map">
              <div class="form-group">
                <%= f.label :location_id, "عنوان التوصيل" %>
                <%= f.select(:location_id, current_user.locations.map {|location| [location.location_type, location.id]}, {}, {class: 'form-control'}) %>
              </div>
              <div class="form-group">
                <%= f.label :detail %>
                   <%= f.text_area :detail, autofocus: true, class: 'form-control', rows: 5 %>
              </div><!-- /.form-group -->

              <div class="form-group">
                <%= f.button t('buttons.order'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.order_loading')} ..."} %>
              </div>

              <div class="clearfix"></div>     
            </div><!-- /#place-on-map -->
          <% end %>
        </div>
      </div>  
      <div class="col-lg-4 col-sm-4 col-left">
        <div class="white-block">
          <div class="heading-title mb-20">
            <h4>وسيلة الدفع</h4>
          </div>

          <!-- PAYMENT METHOD -->
          <fieldset>
            <div class="toggle-transparent toggle-bordered-full clearfix">
              <div class="toggle active">
                <div class="toggle-content">

                  <div class="row nomargin-bottom">
                    <div class="col-lg-12 nomargin clearfix">
                      <label class="radio nomargin-top">
                        <input id="payment_check" name="payment[method]" type="radio" value="1" checked="checked" />
                        <i></i> <span>الدفع عند الاستلام</span>
                      </label>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </fieldset>
          <!-- /PAYMENT METHOD -->

          <div class="toggle-bordered-full clearfix">
            <div class="toggle active">
              <div class="toggle-content">
                
                <span class="clearfix">
                  <span class="pull-left" id='cart_price'><%= @cart.price %> <span> <%= @current_store.currency %></span></span>
                  <span class="pull-right"><%= t('cart.total') %> :</span>
                </span>

                <span class="clearfix">
                  <span class="pull-left" id='cart_delivery_price'><%= @cart.delivery_price %><span> </span> <%= @current_store.currency %></span>
                  <span class="pull-right"><%= t('cart.delivery_price') %> :</span>
                </span>

                <hr />

                <span class="clearfix">
                  <span class="pull-left size-20" id="cart_total_price"><%= @cart.total_price %> <span> <%= @current_store.currency %></span></span>
                  <strong class="pull-right"><%= t('cart.total_price') %> :</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>