<% title("#{t('order.show')} ##{@order.id}") %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= t('order.show') %> #<%= @order.id %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to cart_path do  %>
          <i class="fa fa-cart-plus"></i> <%= t('header.cart') %>
        <% end %>
      </li>
      <li> <%= t('order.show') %></li>
    </ol><!-- /breadcrumbs -->
  </div>

</section>
<!-- /PAGE HEADER -->


<section class="pt-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>

    <%= render "shared/orders/#{@order.status}" %>

    <div class="row cart">

      <!-- LEFT -->
      <div class="col-lg-9 col-sm-8">
        <div id="cartContent" class="white-block mb-20" >
          <table id="cart_table">
            <tbody>
              <tr>
                <th width="15%"></th>
                <th><%= t('cart.product_name') %></th>
                <th width="16%"><%= t('cart.quantity') %></th>
                <th width="14%"><%= t('cart.price') %></th>
              </tr>
                <% @order.items.each do |item|%>
                 <% hidden = item.quantity > 1 ? '' : 'hidden'  %>
                  <tr class='item-<%= item.id %>' >
                    <td>
                      <%= link_to product_path(category_slug: item.product.category.slug, id: item.product) do  %>
                        <%= image_tag url_for(item.product.images[0].variant(resize_to_limit: [160, 160])), class: 'cart_item_image' %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to product_path(category_slug: item.product.category.slug, id: item.product) do  %>
                        <%= item.product.title %>
                      <% end %>
                    </td>
                    <td>
                      <input class="cart_item_quantity" disabled id="input_quantity-<%= item.id %>" value="<%= item.quantity %>">
                    </td>
                    <td> 
                      <span id='cart_item_quantity-<%= item.id %>'><%= item.quantity %></span>  &times; <sapn><%= item.product.price %></span>
                    </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- RIGHT -->
      <div class="col-lg-3 col-sm-4">
        <div class="white-block">
          
          <span class="clearfix">
            <span class="pull-left" id='cart_price'><%= @order.price %> <span> <%= @current_store.currency %></span></span>
            <span class="pull-right"><%= t('cart.total') %> :</span>
          </span>

          <span class="clearfix">
            <span class="pull-left" id='cart_delivery_price'><%= @order.delivery_price %><span> </span> <%= @current_store.currency %></span>
            <span class="pull-right"><%= t('cart.delivery_price') %> :</span>
          </span>

          <hr />

          <span class="clearfix">
            <span class="pull-left size-20" id="cart_total_price"><%= @order.total_price %> <span> <%= @current_store.currency %></span></span>
            <strong class="pull-right"><%= t('cart.total_price') %> :</strong>
          </span>
        </div>
   
        <% if @order.executing? && Time.now < @order.created_at + 5.minute %>
          <!-- countdown -->
          <div class="text-center white-block margin-top-20">
            <h5><%= t('order.cancel_info') %></h5>
            <div class="countdown" data-from="<%= (@order.created_at + 5.minute).strftime('%B %d, %Y  %H:%M:%S') %>" data-labels="years,months,weeks,days,hour,min,sec">
              <!-- years,months,weeks,days,hour,min,sec -->
            </div>
            <hr />
            <a href="#cancel_order" data-id="<%= @order.id %>" class="cancel_order_button btn btn-danger btn-lg btn-block size-15"><i class=" fa fa-times"></i> <%= t('buttons.order_cancel') %></a>
          </div>
          <!-- /countdown -->
        <% end %>
      </div>

    </div>

  </div>
</section>  


<%= content_for :footer do %>
  <%= render partial: 'shared/modal/content', locals: { id: 'cancel_order' } %>
<% end %>
