<% title t('header.contact_us') %>

<section class="page-header page-header-xs">
  <div class="container">
    <h1><%= t('header.contact_us') %></h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li>  <i class="fa fa-send"></i> <%= t('header.contact_us') %></li>
    </ol><!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->

<section class="pt-0">
  <div class="container">
    <div class="row">
      <%= render 'shared/bootstrap_alert' %>
      <div class="col-md-8 col-sm-8">
        <div class="white-block page">
          <%= form_for @contact, :html => {id:"contactForm"} do |f| %>
            <fieldset>
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group <%= 'has-error' if @contact.errors[:name].any? %>">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>
                    <small class="help-block <%= 'hidden' unless  @contact.errors[:name].any? %>"><%= @contact.errors[:name].first %></small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group <%= 'has-error' if @contact.errors[:email].any? %>">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: "form-control" %>
                    <small class="help-block <%= 'hidden' unless  @contact.errors[:email].any? %>"><%= @contact.errors[:email].first %></small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group <%= 'has-error' if @contact.errors[:message].any? %>">
                    <%= f.label :message %>
                    <%= f.text_area :message, class: "form-control", maxlength: "10000", rows: "8"%>
                    <small class="help-block <%= 'hidden' unless  @contact.errors[:message].any? %>"><%= @contact.errors[:message].first %></small>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="col-md-12">
                <%= f.button t('buttons.message'), class: "btn btn-primary p", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('buttons.message_loading')} ..."} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="white-block">
          <h3>بيانات التواصل</h3>



          <ul class="footer-links list-unstyled mb-0">
            <li class="footer-sprite address pb-10">
              <i class="fa fa-map-marker"></i>
              العنوان : <%= @current_store.present? ? @current_store.address : Settings.info.address %>
            </li>
            <li class="footer-sprite phone pb-10">
              <i class="fa fa-phone"></i>
              رقم الجوال : <%= @current_store.present? ? @current_store.mobile : Settings.info.mobile %>

            </li>
            <li class="footer-sprite email pb-10">
              <i class="fa fa-envelope"></i>
              البريد :
              <a href="mailto:<%= @current_store.present? ? @current_store.email : Settings.info.email %>"><%= @current_store.present? ? @current_store.email : Settings.info.email %></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>