<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>المستخدمين</h3>
          <table class="table table-hover table-responsive">
            <tbody>
              <tr>
                <th width="10%">ID</th>
                <th width="25%">الاسم</th>
                <th width="35%">البريد الالكتروني</th>
                <th width="10%">الحالة</th>
                <th width="20"></th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.fullname %></td>
                  <td><%= user.email %></td>
                  <td id="user-status-<%= user.id %>"><%= print_user_status(user.banned?) %></td>
                  <td>
                    <div class="pull-left">
                      <div class="dropdown btn-group pull-left">
                          <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                              <i class="fa fa-gear"></i>
                              <span class="hidden-xs"> خيارات</span>
                              <i class="fa fa-caret-down"></i>
                            </button>
                          
                          <ul class="dropdown-menu dropdown-left dropdown-menu-left">
                            <% unless user == @current_store.owner %>
                              <li class="<%= "hidden" if user.banned? %>" id="ban-user-<%= user.id %>">
                                <%= link_to ban_dashboard_user_path(user), method: :put, remote: true, class: "c-red" do %>
                                  <i class="fa fa-ban"></i>
                                  <span class="action-text">إيقاف الحساب</span>
                                <% end %>
                              </li>
                            <% end %>
                            <li class="<%= "hidden" unless user.banned?  %>" id="unban-user-<%= user.id %>">
                              <%= link_to unban_dashboard_user_path(user), method: :put, remote: true do %>
                                <i class="fa fa-eye"></i>
                                <span class="action-text">تفعيل الحساب</span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to root_path do %>
                                <i class="fa fa-envelope-o"></i>
                                <span class="action-text">إرسال بريد</span>
                              <% end %>
                            </li>
                          </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->