<% title t('header.shop') %>

<!-- -->
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>

    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 mb-20">
          <div class="white-block text-center">
            <div class="mb-20">
              <i class="fa fa-users size-40"></i>
            </div>
            <p class="size-18 mb-10">المستخدمين</p>
            <span class="size-20 bold"><%= @report_hash[:users_count] %></span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-20">
          <div class="white-block text-center">
            <div class="mb-20">
              <i class="fa fa-truck size-40"></i>
            </div>
            <p class="size-18 mb-10">الطلبات الجديدة</p>
            <span class="size-20 bold"> <%= @report_hash[:new_orders_count] %></span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-20">
          <div class="white-block text-center">
            <div class="mb-20">
              <i class="fa fa-cube size-40"></i>
            </div>
            <p class="size-18 mb-10">المنتجات</p>
            <span class="size-20 bold"><%= @report_hash[:products_count] %></span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-20">
          <div class="white-block text-center">
            <div class="mb-20">
              <i class="fa fa-thumbs-up size-40"></i>
            </div>
            <p class="size-18 mb-10">التقيمات</p>
            <span class="size-20 bold"><%= @report_hash[:reviews_count] %></span>
          </div>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="white-block">
            <div class="reports-head">
              <h3 class="mb-0">التقرير اليومي
                <div class="pull-left reports-filter btn-group">
                <%= select_tag(
                  'period',
                  options_for_select([["اليومي","today"],["الشهري","month"],["منذ البداية","all"]]),
                  class: 'form-control',
                  id: 'report_period_select',
                  data: {
                    remote: true,
                    url: '/dashboard/ajax/report',
                    method: 'get'
                  }) 
                %>
                </div>
              </h3>
            </div>
            <hr>
            <div class="reports row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="white-block text-center total_sales">
                  <div class="mb-20">
                    <i class="fa fa-shopping-bag size-40"></i>
                  </div>
                  <p class="size-18 mb-10">المبيعات</p>
                  <span class="size-20 bold"><%= @current_store.currency %> <%= @report_hash[:total_sales] %></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="white-block text-center orders_count">
                  <div class="mb-20">
                    <i class="fa fa-truck size-40"></i>
                  </div>
                  <p class="size-18 mb-10">الطلبات</p>
                  <span class="size-20 bold"> <%= @report_hash[:orders_count] %></span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="white-block text-center cancelled_orders_count">
                  <div class="mb-20">
                    <i class="fa fa-times size-40"></i>
                  </div>
                  <p class="size-18 mb-10">الطلبات الملغية</p>
                  <span class="size-20 bold"><%= @report_hash[:cancelled_orders_count] %></span>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>

</div>
</section>
<!-- / -->