$('.reports .total_sales span').html('<%= @current_store.currency %> <%= @report_hash[:total_sales] %>');
$('.reports .orders_count span').html('<%= @report_hash[:orders_count] %>');
$('.reports .cancelled_orders_count span').html('<%= @report_hash[:cancelled_orders_count] %>');
