<section class="content-header">
  <h1>
    Contacts
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Contacts</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
              </tr>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.id %></td>
                  <td><%= contact.name %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.message %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @contacts %>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>

