<div class="white-block">
  <h3>الاشتراك</h3>
  <div class="alert alert-bordered-dashed p-10 text-center">
    <ul class="list-group ">
      <li class="list-group-item">
        نوع الاشتراك الحالي: <strong><%= print_current_plan_type %></strong>
      </li>
      <li class="list-group-item">
        ينتهي الاشتراك بتاريخ: <strong><%= print_current_plan_expire_date %></strong>
      </li>
    </ul>
    <% if @current_plan.free? %>
      <div class="p-10 clearfix">
        <a href="#upgrade" class="btn btn-primary">ارفع اشتراك حسابك</a>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="head_title text-center">
      <h2 class="weight-300 nomargin" >
        الباقات المتوفرة
      </h2>
    </div>
    <div class="col-md-6 col-sm-6 price-table pb-0 mb-0">
      <h3>الاساسي</h3>
      <p> 
        مجانا
      </p>

      <ul>
        <li>عدد منتجات : 15</li>
        <li>عدد العملاء: 300</li>
        <li> - </li>
        <li> - </li>
        <li> - </li>
        <li>دعم فني 24/7</li>
        <li> - </li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-6 price-table pb-0 mb-0">
      <h3>المميز</h3>
      <p> 
        15$
        <span>شهريا</span>
      </p>
      <ul>
        <li>عدد منتجات : 200</li>
        <li>عدد العملاء: 3000</li>
        <li>ربط نطاقك الخاص بمتجرك</li>
        <li>خرائط جوجل</li>
        <li> شات الفيس بوك </li>
        <li>دعم فني 24/7</li>
        <li> - </li>
      </ul>
    </div>
  </div>

  <% if @current_store.subscribe_logs.count > 0 %>
    <%= render "subscribe_logs" %>
  <% end %>
  <div class="flash_wrapper hidden">
    <div class="alert alert-success text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <div>مبروك! تم رفع الاشتراك بنجاح.</div>
    </div>
  </div>
  <% if @current_plan.free? %>
    <div id="upgrade" class="bg-light p-20">
      <h3>ارفع الاشتراك الخاص بمتجرك</h3>

      <%= form_with(scope: :store, url: dashboard_subscription_path, :method => :post, html: { role: 'form', class: "mb-0" }) do |f| %>
        <div class="row">
          <div class="col-md-4 col-sm-6 hidden">
            <div class="form-group">
              <%= f.label :payment_method, "وسيلة الدفع" %>
              <%= f.select :payment_method, [["كوبون", "coupon"]], autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 hidden">
            <div class="form-group">
              <%= f.label :plan_type, "نوع الاشتراك" %>
              <%= f.select :plan_type, options_for_plan_types, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 hidden">
            <div class="form-group">
              <%= f.label :plan_duration, "مدة الاشتراك" %>
              <%= f.select :plan_duration, [["شهر", "1"],["3 أشهر","3"]], autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group coupon-input">
              <%= f.label :coupon, "كود الكوبون" %>
              <%= f.text_field :coupon, autofocus: true, class: 'form-control' %>
              <small class="help-block hidden"></small>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <%= submit_tag "ارفع الاشتراك", class: "btn btn-primary pull-right", data: {disable_with: "جاري الإرسال ..."} %>
        </div>

      <% end %>
    </div>
  <% end %>

</div>