<h3 class="mb-20 mt-20">سجل الاشتراكات </h3>
<table class="table table-hover">
  <tbody>
    <tr>
      <th>تاريخ الاشتراك</th>
      <th>وسيلة الدفع</th>
      <th>نوع الباقة</th>
      <th>المدة</th>
      <th>تنتهي الباقة</th>
    </tr>
    <% @current_store.subscribe_logs.each do |log| %>
      <tr>
        <td><%= log.created_at.strftime("%F") %></td>
        <td><%= log.payment_method %></td>
        <td><%= print_current_plan_type(log.plan_type) %></td>
        <td><%= log.duration %> شهر</td>
        <td><%= (log.created_at + log.duration.months).strftime("%F") %></td>
      </tr>
    <% end %>
  </tbody>
</table>