<% title t('header.shop') %>

<!-- -->
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>تحليلات جوجل</h3>
          <%= form_for(@current_store, url: dashboard_analytics_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group <%= 'has-error' if @current_store.errors[:google_analytics_key].any? %>">
              <%= f.label :google_analytics_key %>
              <%= f.text_field :google_analytics_key, autofocus: true, class: 'form-control', placeholder: "UA-12345-12"  %>
              <small class="help-block">كود تتبّع Google Analytics الخاص بك. <a href="https://support.google.com/analytics/answer/1008015?hl=ar&ref_topic=3544906" class="theme-color">اقرأ المزيد</a> لمعرفة كيفية الحصول عليه. </small>
            </div>
            <div class="clearfix">
               <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
            <div class="clearfix">
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->