<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>الإعدادات</h3>
          <%= form_for(@current_store, url: dashboard_configuration_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group">
              <%= f.label :currency %>
              <%= f.select :currency, CURRENCIES, {}, {class: "form-control"}  %>
            </div>
            <div class="form-group">
              <%= f.label :min_order_total %>
              <%= f.number_field :min_order_total, autofocus: true, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :max_pending_order %>
              <%= f.number_field :max_pending_order, autofocus: true, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :delivery_amount %>
              <%= f.number_field :delivery_amount, autofocus: true, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :free_delivery_with_amount %>
              <%= f.number_field :free_delivery_with_amount, autofocus: true, class: 'form-control'  %>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <%= f.label :delivery_start_at %>
                  <%= f.select :delivery_start_at, [["1am", 1], ["2am", 2], ["3am", 3], ["4am",4 ], ["5am", 5], ["6am", 6], ["7am", 7], ["8am", 8], ["9am", 9], ["10am", 10], ["11am", 11], ["12pm", 12], ["1pm", 13], ["2pm", 14], ["3pm", 15], ["4pm", 16], ["5pm", 17], ["6pm", 18], ["7pm", 19], ["8pm", 20], ["9pm", 21], ["10pm", 22], ["11pm", 23], ["12am", 24]],{},{class: 'form-control'}%>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <%= f.label :delivery_end_at %>
                  <%= f.select :delivery_end_at, [["1am", 1], ["2am", 2], ["3am", 3], ["4am",4 ], ["5am", 5], ["6am", 6], ["7am", 7], ["8am", 8], ["9am", 9], ["10am", 10], ["11am", 11], ["12pm", 12], ["1pm", 13], ["2pm", 14], ["3pm", 15], ["4pm", 16], ["5pm", 17], ["6pm", 18], ["7pm", 19], ["8pm", 20], ["9pm", 21], ["10pm", 22], ["11pm", 23], ["12am", 24]],{}, class: 'form-control'%>
                </div>
              </div>
            </div>
            <div class="form-group pt-5">
              <div class="checkbox-enable_reviews">
                <%= f.label :enable_reviews do %>
                  <%= f.check_box :enable_reviews %>
                  تفعيل التقيمات ضمن صفحات المنتجات
                <% end %>
              </div>
            </div>
            <% if @current_store.can_use_google_map? %>
              <div class="form-group pt-5">
                <div class="checkbox-enable_google_maps">
                  <%= f.label :enable_google_maps do %>
                    <%= f.check_box :enable_google_maps %>
                    تفعيل خرائط جوجل
                  <% end %>
                </div>
                <small class="help-block">تستخدم خرائط جوجل لتحديد مكان المستخدم على الخريطة في صفحة <a href="<%= new_location_path %>" class="theme-color">عنوان جديد</a> </small>
              </div>

              <div class="form-group">
                <%= f.label :google_maps_key, "Google API Key" %>
                <%= f.text_field :google_maps_key, autofocus: true, class: 'form-control'   %>
              </div>
            <% else %>
              <div class="form-group pt-5">
                <div class="checkbox-enable_google_maps">
                  <label for="google_maps">
                    <input disabled="disabled" type="checkbox"  name="" id="store_enable_google_maps">
                    تفعيل خرائط جوجل
                  </label>              
                </div>
                <small class="help-block">تستخدم خرائط جوجل لتحديد مكان المستخدم على الخريطة في صفحة <a href="/locations/new" class="theme-color">عنوان جديد</a> </small>
              </div>
              <div class="form-group">
                <label for="google_maps_key">Google API Key</label>
                <input autofocus="autofocus" class="form-control disabled" disabled="disabled" type="text" value="" id="google_maps_key">
              </div>

            <% end %>
            
            <div class="clearfix">
              <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
