<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>معلومات المتجر</h3>
          <%= form_for(@current_store, url: dashboard_design_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group <%= 'has-error' if @current_store.errors[:cover_photo].any? %>">
              <div class="row mb-0">
                <div class="col-md-6 col-xs-12">
                  <%= f.label :cover_photo %>
                  <div class="input-group">
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        تصفح <i class="fa fa-upload"></i>
                        <%= f.file_field :cover_photo, direct_upload: true, class: "hidden upload-file" %>
                      </span>
                    </label>
                    <input type="text" class="form-control upload-info" readonly>
                  </div>
                    <small class="help-block c-grey mb-0">غلاف الصفحة <a href="<%= @current_store.full_domain %>" class="theme-color">الرئيسية</a> في متجرك</small>
                    <small class="help-block <%= 'hidden' unless  @current_store.errors[:cover_photo].any? %>"><%= @current_store.errors[:cover_photo].first %></small>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="col-md-7 col-sm-6 col-xs-6">
                    <div class="alert alert-bordered-dashed p-10 m-0">
                      <span class="image-tip">
                        <p>العرض: 2048 px</p>
                        <p>الطول: 614 px</p>
                        <p>الحجم: 2048 KB</p>
                        <p>الصيغ المدعومة: .jpeg .jpg .png</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-6 preview-image">
                    <% if @current_store.cover_photo.attached? %>
                      <%= image_tag url_for(@current_store.cover_photo), class: "img-thumbnail" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group <%= 'has-error' if @current_store.errors[:logo].any? %>">
              <div class="row mb-0">
                <div class="col-md-6 col-xs-12">
                  <%= f.label :logo %>
                  <div class="input-group">
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        تصفح <i class="fa fa-upload"></i>
                        <%= f.file_field :logo, class: "hidden upload-file" %>
                      </span>
                    </label>
                    <input type="text" class="form-control upload-info" readonly>
                  </div>
                    <small class="help-block c-grey mb-0">شعار الموقع الذي يظهر دائما ضمن الهيدر</small>
                    <small class="help-block <%= 'hidden' unless  @current_store.errors[:logo].any? %>"><%= @current_store.errors[:logo].first %></small>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="col-md-7 col-sm-6 col-xs-6">
                    <div class="alert alert-bordered-dashed p-10 m-0">
                      <small class="image-tip">
                        <p>العرض: 256 px</p>
                        <p>الطول: 256 px</p>
                        <p>الحجم: 512 KB</p>
                        <p>الصيغ المدعومة: .jpeg .jpg .png</p>
                      </small>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-6 preview-image">
                    <% if @current_store.logo.attached? %>
                      <%= image_tag url_for(@current_store.logo), class: "img-thumbnail" %>
                    <% end %>  
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group <%= 'has-error' if @current_store.errors[:favicon].any? %>">
              <div class="row mb-0">
                <div class="col-md-6 col-xs-12">
                  <%= f.label :favicon %>
                  <div class="input-group">
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        تصفح <i class="fa fa-upload"></i>
                        <%= f.file_field :favicon, class: "hidden upload-file" %>
                      </span>
                    </label>
                    <input type="text" class="form-control upload-info" readonly>
                  </div>
                    <small class="help-block c-grey mb-0">الايقونة التي تظهر ضمن تاب المتصفح</small>
                    <small class="help-block <%= 'hidden' unless  @current_store.errors[:favicon].any? %>"><%= @current_store.errors[:favicon].first %></small>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="col-md-7 col-sm-6 col-xs-6">
                    <div class="alert alert-bordered-dashed p-10 m-0">
                      <small class="image-tip">
                        <p>العرض: 32 px</p>
                        <p>الطول: 32 px</p>
                        <p>الحجم: 256 KB</p>
                        <p>الصيغ المدعومة: .jpeg .jpg .png</p>
                      </small>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-6 preview-image">
                    <% if @current_store.favicon.attached? %>
                      <%= image_tag url_for(@current_store.favicon), class: "img-thumbnail" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->

<div id="appead_here"></div>