<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>معلومات المتجر</h3>
          <%= form_for(@current_store, url: dashboard_details_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group <%= 'has-error' if @current_store.errors[:ident].any? %>">
              <%= f.label :ident %>
              <div class="input-group">
                <span class="input-group-addon middle-addon" dir="ltr">.<%= Rails.application.credentials[Rails.env.to_sym][:host] %></span>
                <%= f.text_field :ident, autofocus: true, class: 'form-control'  %>
              </div>
              <small class="help-block <%= 'hidden' unless  @current_store.errors[:ident].any? %>"><%= @current_store.errors[:ident].first %></small>
            </div>
            <div class="form-group">
              <%= f.label :slogan %>
              <%= f.text_field :slogan, autofocus: true, class: 'form-control'  %>
              <small class="help-block">الاسم التجاري الذي يظهر على صورة الغلاف ضمن الصفحة <a href="<%= @current_store.full_domain %>" class="theme-color">الرئيسية</a>. مثال: متجر زهور</small>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_field :description, autofocus: true, class: 'form-control' %>
              <small class="help-block">النص التسويقي لمتجرك الذي يظهر اسفل الاسم التجاري على صورة الغلاف ضمن الصفحة <a href="<%= @current_store.full_domain %>" class="theme-color">الرئيسية</a>. مثال: كل ما تحتاجه من منتجات يصل الى باب بيتك.</small>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :mobile %>
              <%= f.text_field :mobile, autofocus: true, class: 'form-control' %>
            </div>
            <div class="clearfix">
              <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->