<% title t('header.shop') %>
<% disabled = @current_store.can_custom_domain? ? "" : "disabled" %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>الدومين</h3>
          <% if @current_store.can_custom_domain? %>
            <%= form_for(@current_store, url: dashboard_domain_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
              <div class="form-group">
                <%= f.label :domain %>
                <%= f.text_field :domain, autofocus: true, class: 'form-control', disabled: "#{disabled}", placeholder: "http://yourdomain.com"  %>
                <small class="help-block">الدومين الخاص بك الذي تريد ربطه بمتجرك بدلا من الدومين الفرعي <%= @current_store.full_domain %> </small>
              </div>
              <div class="clearfix">
                <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."}, disabled: "#{disabled}" %>
              </div>
            <% end %>
          <% else %>
            <div class="alert alert-bordered-dashed p-20 text-center">
              <p class="pb-10">هذه الميزة غير فعالة للاشتراك المجاني. </p>
              <p class="pb-10">ارفع الاشتراك الخاص بك لكي تتمكن من ربط متجرك بدومين مخصص</p>
              <div class="p-10 clearfix">
                <a href="<%= dashboard_subscription_path %>" class="btn btn-primary">ارفع اشتراك حسابك</a>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->