<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>تحسينات محركات البحث</h3>
          <%= form_for(@current_store, url: dashboard_seo_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group">
              <%= f.label :meta_title, "meta title / ميتا العنوان" %>
              <%= f.text_field :meta_title, autofocus: true, class: 'form-control' %>
              <small class="help-block">اجعل Meta Title يبدو و كأنه عنوان  حقيقي و ليس فقط عبارة عن كلمات مفتاحية يوجد فواصل فيما بينها </small>
            </div>
            <div class="form-group">
              <%= f.label :meta_description, "meta description / ميتا الوصف" %>
              <%= f.text_area :meta_description, autofocus: true, class: 'form-control' %>
              <small class="help-block"> اجعل من  Meta Description  عبارة عن نص حقيقي تسويقي لصفحتك و لا تجعله فقط عبارة عن كلمات مفتاحية.</small>
            </div>
            <div class="clearfix">
              <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->