<% title t('header.shop') %>

<section>
<div class="container">
  
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>

    <!-- LEFT -->
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>حسابات التواصل الاجتماعي</h3>

          <%= form_for(@current_store, url: dashboard_social_media_path, :method => :put, html: { role: 'form', class: "mb-0" }) do |f| %>
            <div class="form-group <%= 'has-error' if @current_store.errors[:ident].any? %>">
              <%= f.label :facebook do %>
                <i class="fa fa-facebook" aria-hidden="true"></i> فيسبوك
              <% end %>
              <%= f.text_field :facebook, autofocus: true, class: 'form-control'  %>
              <small class="help-block <%= 'hidden' unless @current_store.errors[:ident].any? %>"><%= @current_store.errors[:ident].first %></small>
            </div>

            <div class="form-group <%= 'has-error' if @current_store.errors[:ident].any? %>">
              <%= f.label :twitter do %>
                <i class="fa fa-twitter" aria-hidden="true"></i> تويتر
              <% end %>
              <%= f.text_field :twitter, autofocus: true, class: 'form-control'  %>
              <small class="help-block <%= 'hidden' unless @current_store.errors[:ident].any? %>"><%= @current_store.errors[:ident].first %></small>
            </div>

            <div class="form-group <%= 'has-error' if @current_store.errors[:ident].any? %>">
              <%= f.label :instagram do %>
                <i class="fa fa-instagram" aria-hidden="true"></i> انستغرام
              <% end %>
              <%= f.text_field :instagram, autofocus: true, class: 'form-control'  %>
              <small class="help-block <%= 'hidden' unless @current_store.errors[:ident].any? %>"><%= @current_store.errors[:ident].first %></small>
            </div>
            <div class="clearfix">
              <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.signup_loading')} ..."} %>
            </div>
          <% end %>
      </div>
    </div>




  </div>
  
</div>
</section>
<!-- / -->