<% title t('header.shop') %>

<section>
  <div class="container">
    
    <div class="row">
      <!-- Sidebar -->
      <%= render 'dashboard/shared/sidebar' %>
      <!-- LEFT -->
      <div class="col-lg-9 col-md-8 col-sm-8 partial_subscription">
        <%= render partial: "partial_subscription" %>
      </div>

    </div>
    
  </div>
</section>
<!-- / -->
