<% if @error %>
  $(".coupon-input").addClass("has-error");
  $(".coupon-input .help-block").removeClass("hidden");
  $(".coupon-input .help-block").html("<%= @error %>");
<% else %>
  $('.partial_subscription').html("<%= escape_javascript(render('partial_subscription')) %>");
  $('.flash_wrapper').removeClass("hidden");
<% end %>