<% submit_name = "إنشاء" %>
<% if action_name == "edit" %>
 <% submit_name = "تعديل" %>
 <% main_img = @product.images[0].variant(resize_to_limit: [1200, 800]) %>
  <div class="product_gallery">
    <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "rtl": true}'>
      <% @product.images.each_with_index do |image, index| %>
        <div>
          <img class="img-responsive h-450" src="<%= url_for(image.variant(resize_to_limit: [1200, 800])) %>" alt="">
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= form_for([:dashboard, @product], html: { class: 'mb-0' } ) do |f| %>
  <div class="form-group <%= 'has-error' if @product.errors[:title].any? %>">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="help-block <%= 'hidden' unless  @product.errors[:title].any? %>"><%= @product.errors[:title].first %></small>
  </div>

  <div class="form-group <%= 'has-error' if @product.errors[:slug].any? %>">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control textarea_editor', id: "textarea_editor" %>
    <small class="help-block <%= 'hidden' unless  @product.errors[:description].any? %>"><%= @product.errors[:description].first %></small>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group <%= 'has-error' if @product.errors[:category_id].any? %>">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, @current_store.categories, :id, :name, {:include_blank => 'اختر تصنيف'},{:class => 'form-control'}  %>
        <small class="help-block <%= 'hidden' unless  @product.errors[:category_id].any? %>"><%= @product.errors[:category_id].first %></small>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group <%= 'has-error' if @product.errors[:category_id].any? %>">
        <%= f.label :new_category_name, "أو انشأ تصنيف جديد" %>
        <%= f.text_field :new_category_name, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= f.label :in_stack %>
        <%= f.number_field :in_stack, class: 'form-control' %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="checkbox-is_infinite pt-35">
          <%= f.label :is_infinite do %>
            <%= f.check_box :is_infinite %>
            غير محددة
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group <%= 'has-error' if @product.errors[:price].any? %>">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>
        <small class="help-block <%= 'hidden' unless  @product.errors[:price].any? %>"><%= @product.errors[:price].first %></small>
      </div>
      <div class="col-md-6 col-xs-12">
      </div>
   
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @product.errors[:images].any? %>">
    <%= f.label :images %>
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-primary">
          تصفح <i class="fa fa-upload"></i>
          <%= f.file_field :images, multiple: true, class: "hidden products-images" %>
        </span>
      </label>
      <input type="text" class="form-control upload-info" readonly>
    </div>
    <small class="help-block <%= 'hidden' unless  @product.errors[:images].any? %>"><%= @product.errors[:images].first %></small>
  </div>

  <div id="photos" class="row m-0"></div>

  <div class="form-group">
    <%= f.label :featured do %>
      <%= f.check_box :featured %>
      اجعل هذه المنتج مميز واعرضه بالرئيسية
    <% end %>
  </div>

  <div class="clearfix">
    <%= f.button submit_name, class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{submit_name} ..."} %>
  </div>
<% end %>
