<tr id="product-<%= product.id %>">
   <td class="hidden-xs">
     <% if product.images.attached? %>
       <%= image_tag url_for(product.images[0].variant(resize_to_limit: [80, 80])), class: "small-thumbail"%>
     <% end %>
   </td>
   <td class="details-td">
      <h3 class="details-head">
        <%= link_to product.title, product.url %>
      </h3>
      <ul class="details-list">
         <li><i class="fa fa-fw fa-bookmark"></i> <span> <%= product.id %></span> </li>
        <li><i class="fa fa-fw fa-tag"></i><span><%= product.category.name if product.category  %></span> </li>
        <li><i class="fa fa-fw fa-money"></i> <span><%= product.price %></span></li>
        <% unless product.status %>
          <li><i class="fa fa-fw fa-eye-slash"></i> <span> <%= print_product_status(product.status) %></span> </li>
        <% end %>
      </ul>
   </td>

   <td>
     <div class="pull-left">
       <div class="dropdown btn-group pull-left">
           <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
               <i class="fa fa-gear"></i>
               <span class="hidden-xs"> خيارات</span>
               <i class="fa fa-caret-down"></i>
             </button>
           
           <ul class="dropdown-menu dropdown-left dropdown-menu-left" role="menu" aria-labelledby="خيارات المستخدم">
              <li>
                <%= link_to  edit_dashboard_product_path(product.id) do %>
                  <i class="fa fa-pencil"></i>
                  <span class="action-text">تعديل المنتج</span>
                <% end %>
              </li>
           </ul>
       </div>
     </div>
   </td>
</tr>