<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="bg-white">
        <h3 class="p-20">المنتجات (<span><%= @current_store.products.count %></span>)
          <%= link_to 'منتج جديد', new_dashboard_product_path, class: 'btn btn-primary btn-sm pull-left' %>
        </h3>
          <table id="products_table">
            <colgroup>
              <col class="col-lg-1 hidden-xs"> 
              <col class="col-lg-8"> 
              <col class="col-lg-3">
            </colgroup>
            <tbody>
              <%= render partial: "dashboard/products/product", collection: @products %>
            </tbody>
          </table>


          <div class="text-center">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / -->