<% title t('errors.unavailable.title') %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= t('errors.unavailable.title') %></h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to root_path do  %>
        <i class="fa fa-home"></i> <%= t('header.home') %>
        <% end %>
      </li>
      <li> 401</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>
<!-- /PAGE HEADER -->


<!-- -->
<section class="padding-xlg">
  <div class="container text-center">
    <h2 class="size-100">401</h2>
    <p><%= t('errors.unavailable.content') %></p>
    
  </div>
</section>
<!-- / -->
