<% title t('errors.maintenance.title') %>


<section class="page-header page-header-xs">
  <div class="container">

    <h1>محتوى غير متاح</h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to root_path do  %>
        <i class="fa fa-home"></i> <%= t('header.home') %>
        <% end %>
      </li>
      <li>403</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>
<!-- /PAGE HEADER -->


<!-- -->
<section class="padding-xlg">
  <div class="container text-center">
    <h2 class="size-100">403</h2>
    <p>هذا المحتوى غير متاح للعرض حاليا، يرجى التواصل مع فريق الموقع لمعرفة السبب</p>
  </div>
</section>
<!-- / -->
