<%= form_for([:dashboard, @order], html: { class: 'mb-0' } ) do |f| %>
  
  <% unless @order.detail.blank? %>
    <div class="form-group">
      <%= f.label :detail, 'تفاصيل العميل' %>
      <%= f.text_area :detail, class: 'form-control disabled', disabled: "disabled" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :admin_detail, "ملاحظات إدارية حول الطلب"%>
    <%= f.text_area :admin_detail, class: 'form-control', rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select(:status, Order.statuses.keys.map {|status| [print_order_status(status), status]}, {}, {class: 'form-control'}) %>
  </div>
  
  <div class="clearfix">
    <%= f.button t('buttons.update'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.update')} ..."} %>
  </div>
<% end %>
