<% title 'تعديل الطلب' %>
<section>
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <%= render 'dashboard/shared/sidebar' %>

      <!-- LEFT -->
      <div class="col-lg-9 col-md-8 col-sm-8">
        <div class="white-block">
          <h3 class="inline-block">تفاصيل الطلب </h3>
          <span class="pull-left">
            <span class="label label-<%= order_label_class(@order.status) %> "><%= print_order_status(@order.status) %></span>
          </span>
            <div id="cartContent">
              <table id="cart_table">
                <tbody>
                  <tr>
                    <th width="20%">صورة المنتج</th>
                    <th><%= t('cart.product_name') %></th>
                    <th width="16%"><%= t('cart.quantity') %></th>
                    <th width="14%"><%= t('cart.price') %></th>
                  </tr>
                    <% @order.items.each do |item|%>
                     <% hidden = item.quantity > 1 ? '' : 'hidden'  %>
                      <tr class='item-<%= item.id %>' >
                        <td>
                          <%= link_to product_path(category_slug: item.product.category.slug, id: item.product) do  %>
                            <%= image_tag url_for(item.product.images[0].variant(resize_to_limit: [160, 160])), class: 'cart_item_image' %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to product_path(category_slug: item.product.category.slug, id: item.product) do  %>
                            <%= item.product.title %>
                          <% end %>
                        </td>
                        <td>
                          <input class="cart_item_quantity" disabled id="input_quantity-<%= item.id %>" value="<%= item.quantity %>">
                        </td>
                        <td> 
                          <span id='cart_item_quantity-<%= item.id %>'><%= item.quantity %></span>  &times; <sapn><%= item.product.price %></span>
                        </td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h3 class="text-center">بيانات التوصيل</h3>
                <div class="alert alert-bordered-dashed">
                  <span class="clearfix">
                    <span class="pull-right">الاسم الكامل :</span>
                    <span class="pull-left" id='cart_price'><%= @order.location.fullname %></span>
                  </span>

                  <span class="clearfix">
                    <span class="pull-right">رقم الموبايل :</span>
                    <span class="pull-left" id='cart_price'><%= @order.location.mobile %></span>
                  </span>

                  <hr />

                  <span class="clearfix">
                    <span class="pull-right">العنوان :</span>
                    <span class="pull-left" id='cart_price'><%= @order.location.address %></span>
                  </span>

                </div>
              </div>
              <div class="col-md-6">
                <h3 class="text-center">تكلفة الطلب</h3>
                <div class="alert alert-bordered-dashed">
                  <span class="clearfix">
                    <span class="pull-left" id='cart_price'><%= @order.price %> <span> <%= @current_store.currency %></span></span>
                    <span class="pull-right"><%= t('cart.total') %> :</span>
                  </span>

                  <span class="clearfix">
                    <span class="pull-left" id='cart_delivery_price'><%= @order.delivery_price %><span> </span> <%= @current_store.currency %></span>
                    <span class="pull-right"><%= t('cart.delivery_price') %> :</span>
                  </span>

                  <hr />

                  <span class="clearfix">
                    <span class="pull-left size-20" id="cart_total_price"><%= @order.total_price %> <span> <%= @current_store.currency %></span></span>
                    <strong class="pull-right"><%= t('cart.total_price') %> :</strong>
                  </span>
                  
                </div>
              </div>
              <% if @order.location.has_map? %>
                <div class="col-md-6 col-md-offset-3 text-center mb-20">
                <h3>مكان العميل على الخريطة</h3>
                  <a href="https://www.google.com/maps/@<%= @order.location.latitude %>,<%= @order.location.longitude %>,14z"><i class="fa fa-map-marker size-50 theme-color"></i></a>
                </div>
              <% end %>
            </div>
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / -->