<% title t('header.shop') %>
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="bg-white">
        <h3 class="p-15">الطلبات
           <div class="dropdown pull-left">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> <%= print_orders_filter(params[:status]) %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/orders?status=executing"> جارية التنفيذ <span>(<%= @orders_count["executing"] %>)</span></a></li>
              <li><a href="/dashboard/orders?status=completed">المكتملة <span>(<%= @orders_count["completed"] %>)</span></a></li>
              <li><a href="/dashboard/orders?status=cancelled"></i>الملغاة <span>(<%= @orders_count["cancelled"] %>)</span></a></li>
            </ul>
          </div> 
        </h3>
        <% if @orders.count > 0 %>
          <table id="orders_table">
            <colgroup>
              <col class="col-lg-10">
              <col width="col-lg-2">
            </colgroup>
            <tbody>
              <%= render partial: "dashboard/orders/order", collection: @orders %>
            </tbody>
          </table>
        <% else %>
          <div class="white-block text-center">
            <p class="mb-0">لا يوجد طلبات</p>
          </div>
        <% end %>
      </div>
        <div class="text-center">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
    </div>
  </div>
</div>
</section>
<!-- / -->