<% if @cart.items.count > 0  %>
  <% @cart.items.each do |item| %>
    <a>
      <h6><span class="pull-left"><%= item.quantity %>x</span> <%= item.product.title %></h6>
      <small><%= item.total_price %> <span class="price"><%= @current_store.currency %></span></small>
    </a>
  <% end %>
<% else %>
  <a class="text-center">
  <h6 ><%= t('cart.empty') %></h6>
  </a>

<% end %>