$('#add_to_cart-<%= @cart_item.product_id %> .fa-spin').removeClass('hidden');
$('#add_to_cart-<%= @cart_item.product_id %> .fa-cart-plus').addClass('hidden');
<% if  @cart_item.save %>
  $('#add_to_cart-<%= @cart_item.product_id %>').remove();
  $('#cart_link-<%= @cart_item.product_id %>').removeClass('hidden');
  $('.quick-cart .cart-badge').html("<%= escape_javascript(render 'shared/stores/cart_badge') %>");
  $('.quick-cart-wrapper').html("<%= escape_javascript(render 'cart_items/item') %>");
<% else %>
  $('#add_to_cart-<%= @cart_item.product_id %> .fa-spin').addClass('hidden');
  $('#add_to_cart-<%= @cart_item.product_id %> .fa-cart-plus').removeClass('hidden');
<% end %>
