$(".item-<%= @cart_item.id %>").remove();
$('#cart_item_quantity-<%= @cart_item.id %>').text('<%= @cart_item.quantity %>')
$('#cart_price').html('<%= @cart.price %>  <span> <%= @cart.store.currency %></span>')
$('#cart_delivery_price').html('<%= @cart.delivery_price %> <span> <%= @cart.store.currency %></span>')
$('#cart_total_price').html('<%= @cart.total_price %>  <span> <%= @cart.store.currency %></span>')
$('.quick-cart .cart-badge').html("<%= escape_javascript(render 'shared/stores/cart_badge') %>");
$('.quick-cart-wrapper').html("<%= escape_javascript(render 'cart_items/item') %>");
$('i.fa-spin').addClass('hidden');

<% if @cart.total_less_than_min || @cart.items.empty? %>
  $(".cart_less").removeClass('hidden');
  $('.cart_less #price').html('<%= @cart.price %> <%= @cart.store.currency %>');
  $('#new_order').attr('disabled', 'true');
<% end %>
