$('i.fa-spin').removeClass('hidden');
$("#input_quantity-<%= @cart_item.id%>").val("<%= @cart_item.quantity %>");
$('#cart_item_quantity-<%= @cart_item.id %>').text('<%= @cart_item.quantity %>');
$('#cart_price').html('<%= @cart.price %>  <span> <%= @cart.store.currency %></span>');
$('#cart_delivery_price').html('<%= @cart.delivery_price %> <span> <%= @cart.store.currency %></span>');
$('#cart_total_price').html('<%= @cart.total_price %>  <span> <%= @cart.store.currency %></span>');
$('i.fa-spin').addClass('hidden');

<% if @cart_item.quantity > 1 %>
  $(".item-<%= @cart_item.id %> a.cart_quantity_down").removeClass('hidden');
<% end %>

<% if @cart_item.can_increase_quantity? %>
  $(".item-<%= @cart_item.id %> a.cart_quantity_up").removeClass('hidden');
<% elsif (@product.in_stack - @cart_item.quantity = 0) %>
  $(".item-<%= @cart_item.id %> a.cart_quantity_up").addClass('hidden');
<% end %>

<% if !@cart.total_less_than_min %>
  $(".cart_less").addClass('hidden');
  $("#new_order").removeAttr("disabled");
  $('#new_order').removeClass('disabled');
<% else %>
  $('.cart_less #price').html('<%= @cart.price %> <%= @cart.store.currency %>');
  $('#new_order').attr('disabled', 'true');
  $('#new_order').addClass('disabled');
<% end %>