<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>
    
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    .invoice p {
      text-align: center;
    }
    </style>
</head>

<body>
  <div class="invoice-box rtl">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
                <td class="title">
                   <img src="<%= url_for(@order.store.logo) %>" style="width:100%; max-width:300px;">
                </td>
                
                <td>
                    الطلب #: <%= @order.id %><br>
                    تاريخ الشراء: <%= @order.created_at.strftime("%F") %>
                </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                <%= @order.store.slogan %><br>
                <%= @order.store.address %>
              </td>
              
              <td>
                <%= @order.user.fullname %><br>
                <%= @order.user.email %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr class="heading">
        <td>
          وسيلة الدفع
        </td>
        
        <td>
        </td>
      </tr>
      
      <tr class="details">
        <td>
          الدفع عند الاستلام
        </td>
        
        <td>
          <%= @order.total_price %> <%= @order.store.currency %>
        </td>
      </tr>
      
      <tr class="heading">
        <td>
          المنتج
        </td>
        
        <td>
          السعر
        </td>
      </tr>
      <% @order.items.each do |item|%>
        <tr class="item">
          <td>
            <%= item.product.title %>
          </td>
          
          <td>
            <%= item.quantity %>  &times; <%= item.product.price %> <%= @order.store.currency %>
          </td>
        </tr>
      <% end %>

      <tr class="delivery-price">
        <td>سعر التوصيل</td>
        
        <td>
          <%= @order.delivery_price %> <%= @order.store.currency %>
        </td>
      </tr>

      <tr class="total">
        <td></td>
        
        <td>
          المجموع الكلي: <%= @order.total_price %> <%= @order.store.currency %>
        </td>
      </tr>
    </table>
    <br />
    <p>موقع <%= @order.store.slogan %> يحفظ حقوقك دائماً، يرجى عدم التردد من التواصل معنا ان واجهتك أي مشاكل.</p>
    <p>شكرا لك.</p>
    <p>إدارة موقع <%= @order.store.slogan %></p>
    <p><a href="<%= @order.store.full_domain %>"><%= @order.store.full_domain %></a></p>
  </div>
</body>
</html>