<% helpers = ActionController::Base.helpers %>

import MarketPlace from './app';

MarketPlace.map = function(){
  var _latitude = "<%= Settings.gmap.latitude %>";
  var _longitude = "<%= Settings.gmap.longitude %>";

  function init(){
    if ($("#submit-map").length ){
      google.maps.event.addDomListener(window, 'load', initSubmitMap(_latitude,_longitude));
      geo_location();
      get_address();
    }
  }

  function initSubmitMap(_latitude,_longitude){
    var mapCenter = new google.maps.LatLng(_latitude,_longitude);
    var mapOptions = {
        zoom: 15,
        center: mapCenter,
        disableDefaultUI: false,
        //scrollwheel: false,
    };
    if ($("#submit-map").length ){
      var mapElement = document.getElementById('submit-map');
      var map = new google.maps.Map(mapElement, mapOptions);
      var marker = new MarkerWithLabel({
          position: mapCenter,
          map: map,
          icon: "<%= helpers.image_path('marker.png') %>",
          labelAnchor: new google.maps.Point(50, 0),
          draggable: true
      });
      $('#submit-map').removeClass('fade-map');
      google.maps.event.addListener(marker, "mouseup", function (event) {
        var latitude = this.position.lat();
        var longitude = this.position.lng();
        $('#latitude').val( this.position.lat() );
        $('#longitude').val( this.position.lng() );
        get_address(latitude, longitude);
      });
    }
  }

  function geo_location(){
    $('.geo-location').on("click", function() {
      if (navigator.geolocation) {
        $('#submit-map').addClass('fade-map');
        navigator.geolocation.getCurrentPosition(success);
      } else {
        error('Geo Location is not supported');
      }
    });
  }

  function get_address(latitude, longitude){
    var geocoder = new google.maps.Geocoder;
     var latlng = {lat: latitude, lng: longitude};
    geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          $('#google_address').val(results[0].formatted_address);
        } else {
          window.alert('No results found');
        }
      } else {
        console.log('Geocoder failed due to: ' + status);
      }
    });
  }

  function success(position) {
    initSubmitMap(position.coords.latitude, position.coords.longitude);
    $('#latitude').val( position.coords.latitude );
    $('#longitude').val( position.coords.longitude );
  }

  return {
    init: init
  };
}();