<%= form_for([:admin, @category], html: { class: 'form-horizontal category' } ) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, 'Name',  class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :slug, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>

  <% if action_name == "edit" && !@category.image.url.nil?  %>
    <div class='form-group'>
      <div class="col-md-offset-2 col-md-10">
        <%= image_tag @category.image.url, class: "cat_img" %>
      </div>
    </div>
  <% end %>
  
  <div class='form-group'>
    <%= f.label :image, "Image", class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
