<section class="content-header">
  <h1>
    Categories
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Categories</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th></th>
              </tr>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.id %></td>
                  <td><%= category.name %></td>
                  <td><%= category.slug %></td>
                  <td>
                    <%= link_to "Edit", edit_admin_category_path(category.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @categories %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>
