<%= form_for([:admin, @product], html: { class: 'form-horizontal product' } ) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :category_id, Category.all, :id, :ar_name , {}, {class: "form-control"} %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :in_stack, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :in_stack, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :status, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:status, Product.statuses.keys.map {|status| [status.titleize,status]}) %>
    </div>
  </div>

  <% if action_name == "edit"  %>
    <div class='form-group'>
      <div class="col-md-offset-2 col-md-10">
        <%= image_tag @product.image.url, class: "cat_img" %>
      </div>
    </div>
  <% end %>
  

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
