<section class="content-header">
  <h1>
   Editing Product #<%= @product.id %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="<%= admin_products_path %>"><i class="fa fa-tags"></i> Products</a></li>
    <li class="active">Editing Product #<%= @product.id %></li>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-body">
          <%= render 'form' %>
        </div>
      </div>

      <div class="box">
        <div class="box-body">

          <% if @product.product_offer.nil? %>
            <h1 class="content-header">
              Create Offer
            </h1>
            <%= render 'offer_form' %>
          <% else %>
            <h1 class="content-header">
              Offer
            </h1>
            <div class="box-body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Price</th>
                    <th>Start_at</th>
                    <th>End_at</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td><%= @product.product_offer.price %></td>
                    <td><%= @product.product_offer.start_at %></td>
                    <td><%= @product.product_offer.end_at %></td>
                    <th><span class="label <%= @product.product_offer.active ? 'bg-green' : 'bg-red' %>"><%= @product.product_offer.active %></span></th>
                    <td>
                      <%= link_to "Edit", edit_admin_product_offer_path(@product.product_offer.id) %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> 
          <% end %>
        </div>
      </div>

      <% if !@product.reviews.nil? %>
        <div class="box">
          <div class="box-body">
              <h1 class="content-header">
                Reviews
              </h1>
              <div class="box-body table-responsive">
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>User</th>
                        <th>Product</th>
                        <th>Content</th>
                        <th>Star</th>
                        <th>Hidden</th>
                        <th></th>
                      </tr>
                      <%= render @product.reviews %>
                    </tbody>
                  </table>
                </div>
              </div> 
          </div>
        </div>
      <% end %>

    <%= link_to 'Back', admin_products_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>



