<section class="content-header">
  <h1>
    Products
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Products</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Products Filter </h3>

          <div class="box-tools">
            <form action="<%= admin_products_path%>" method="GET">
              <div class="pull-left" style="margin-right: 10px;">
                <%= select_tag "filter", options_for_select([ "active", "hidden", "active_offers", "hidden_offers" ], params[:filter] || "active"), class: 'form-control ', style: "height: 30px;" %> 
              </div>
              <div class="col-lg-5 input-group custom-search-form">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>Image</th>
                <th>AR Name</th>
                <th>KR Name</th>
                <th>AR Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.id %></td>
                  <% if product.image.url %>
                     <td><%= image_tag product.image.small.url, class: "cat_img"  %></td>
                  <% else %>
                     <td></td>
                  <% end %>
                  <td><%= product.ar_name %></td>
                  <td><%= product.ku_name %></td>
                  <td><%= product.ar_description %></td>
                  <td><%= product.category.ar_name %></td>
                  <td><%= product.price %></td>
                  <td><%= product.status %></td>
                  <td>
                    <%= link_to "Edit", edit_admin_product_path(product.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @products %>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>

