<section class="content-header">
  <h1>
   New Product
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="<%= admin_products_path %>"><i class="fa fa-tags"></i> Products</a></li>
    <li class="active">New Product</li>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-body">
          <%= render 'form' %>
        </div>
      </div>
    <%= link_to 'Back', admin_products_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>
