<section class='page-header page-header-xs'>
  <div class='container'>
    <h1 class='weight-600'>
      <%= t('header.update_password') %>
    </h1>
    <ol class='breadcrumb'>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <%= t('header.home') %>
        <% end %>
      </li>
      <li class='active'>
        <%= t('header.update_password') %>
      </li>
    </ol>
  </div>
</section>
<section class='section pt-0'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='box-border-shadow p-20'>
          <%= bootstrap_devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: 'form' }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            <%= f.submit t("buttons.update_password") , class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>