<%= title t('buttons.reset_password') %>

<section class='page-header page-header-xs'>
  <div class='container'>
    <h1>
      <%= t('header.forget_password') %>
    </h1>
    <ol class='breadcrumb'>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <%= t('header.home') %>
        <% end %>
      </li>
      <li class='active'>
        <%= t('header.forget_password') %>
      </li>
    </ol>
  </div>
</section>
<section class='section pt-0'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='box-border-shadow p-20'>
          <%= bootstrap_email_error_messages! %>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <%= f.hidden_field :store_id, :value => @current_store.id %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.button t('buttons.reset_password'), class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.reset_password_loading')} ..." } %>
          <% end %>
          <hr>
          <div class='row'>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('buttons.login'), new_session_path(resource_name) %>
            </div>
            <div class='col-md-6 col-xs-6'>
              <%= link_to t('buttons.signup'), new_registration_path(resource_name) ,class: "pull-left" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




