<% submit_name = action_name.eql?("edit") ? "تعديل" : "إنشاء" %>
<%= form_for([:dashboard, @page], html: { class: 'mb-0' } ) do |f| %>
  <div class="form-group <%= 'has-error' if @page.errors[:title].any? %>">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="help-block <%= 'hidden' unless  @page.errors[:title].any? %>"><%= @page.errors[:title].first %></small>
  </div>

  <div class="form-group <%= 'has-error' if @page.errors[:slug].any? %>">
    <%= f.label :slug %>
    <div class="input-group">
      <%= f.text_field :slug, class: 'form-control page-input' %>
      <span class="input-group-addon middle-addon" dir="ltr"><%= @current_store.full_url %>/p/</span>
    </div>
    
    <small class="help-block <%= 'hidden' unless  @page.errors[:slug].any? %>"><%= @page.errors[:slug].first %></small>
  </div>

  <div class="form-group">
    <%= f.label :meta_description, "meta description / ميتا الوصف" %>
    <%= f.text_area :meta_description, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :meta_keywords, "meta keywords / ميتا الكلمات المفتاحية" %>
    <%= f.text_field :meta_keywords, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content%>
    <%= f.text_area :content, class: 'form-control textarea_editor' %>
  </div>

  <div class="form-group">
    <%= f.label :published do %>
      <%= f.check_box :published %>
      نشر الصفحة
    <% end %>
  </div>

  <div class="clearfix">
    <%= f.button submit_name, class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{submit_name} ..."} %>
  </div>
<% end %>
