<% title t('header.shop') %>

<!-- -->
<section>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <%= render 'dashboard/shared/sidebar' %>
    <!-- LEFT -->
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="white-block">
        <h3>صفحات المتجر
          <%= link_to 'صفحة جديدة', new_dashboard_page_path, class: 'btn btn-primary pull-left btn-sm' %>
        </h3>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th width="30%">الاسم</th>
                <th width="45%">الرابط</th>
                <th width="15%">الحالة</th>
                <th width="10%"></th>
              </tr>
              <% @pages.each do |page| %>
                <tr>
                  <td><%= page.title %></td>
                  <td><%= link_to page.url, page.url %></td>
                  <td id="page-status-<%= page.id %>"><%= print_page_status(page.published) %></td>
                  <td>
                    <div class="pull-left">
                      <div class="dropdown btn-group pull-left">
                          <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                              <i class="fa fa-gear"></i>
                              <span class="hidden-xs"> خيارات</span>
                              <i class="fa fa-caret-down"></i>
                            </button>
                          
                          <ul class="dropdown-menu dropdown-left dropdown-menu-left" role="menu" aria-labelledby="خيارات المستخدم">
                            <li>
                              <%= link_to edit_dashboard_page_path(page) do %>
                                <i class="fa fa-pencil"></i>
                                <span class="action-text">تعديل الصفحة</span>
                              <% end %>
                            </li>
                            <li class="<%= "hidden" if page.published  %>" id="publish-page-<%= page.id %>">
                              <%= link_to publish_dashboard_page_path(page), method: :put, remote: true do %>
                                <i class="fa fa-eye"></i>
                                <span class="action-text">نشر الصفحة</span>
                              <% end %>
                            </li>
                            <li class="<%= "hidden" unless page.published  %>" id="unpublish-page-<%= page.id %>">
                              <%= link_to unpublish_dashboard_page_path(page), method: :put, remote: true, class: "c-red" do %>
                                <i class="fa fa-eye-slash"></i>
                                <span class="action-text">إخفاء الصفحة</span>
                              <% end %>
                            </li>
                          </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  
</div>
</section>
<!-- / -->