<%= form_for([:admin, @offer], html: { class: 'form-horizontal offer' } ) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <% @offers = ProductOffer.all.pluck(:product_id) %>
  <% @products = Product.where.not(id: @offers) %>
  
  <% if action_name == "edit"  %>
    <div class="form-group">
      <%= f.label :product_id ,class: 'control-label col-md-2' %>
      <div class="col-md-10">
      <%= f.text_field :product_id,class: "form-control", disabled: true %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :product_id ,class: 'control-label col-md-2' %>
      <div class="col-md-10">
      <%= f.select(:product_id, @products.collect {|p| [ p.ar_name, p.id ] }, {include_blank: true}, { class: "chosen-select form-control" })%>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_at ,class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select(:start_at, :default => { :hour => 23, :minute => 59 } ) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_at, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select(:end_at, :default => { :hour => 23, :minute => 59 } ) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :active, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :active %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
