<section class="content-header">
  <h1>
    Editing Offer #<%= @offer.id %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="<%= admin_product_offers_path %>"><i class="fa fa-tags"></i> Offers</a></li>
    <li class="active">Editing #<%= @offer.id %></li>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-body">
          <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>price</th>
                  </tr>
                    <tr>
                      <% if @offer.product.image.url %>
                         <td><%= image_tag @offer.product.image.small.url, class: "cat_img"  %></td>
                      <% else %>
                         <td></td>
                      <% end %>
                      <td><%= link_to @offer.product.ar_name, edit_admin_product_path(@offer.product) %></td>
                      <td><%= @offer.product.price %></td>
                    </tr>
                </tbody>
            </table>
          </div> 
        </div>
      </div>
      <div class="box">
        <div class="box-body">
          <%= render 'form' %>
        </div>
      </div>
    <%= link_to 'Back', admin_product_offers_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>

