<section class="content-header">
  <h1>
    Offers
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Offers</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Start_at</th>
                <th>End_at</th>
                <th>Active</th>
                <th></th>
              </tr>
              <% @offers.each do |offer| %>
                <tr>
                  <% if offer.product.image.url %>
                     <td><%= image_tag offer.product.image.small.url, class: "cat_img"  %></td>
                  <% else %>
                     <td></td>
                  <% end %>
                  <td><%= link_to offer.product.ar_name, edit_admin_product_path(offer.product) %></td>
                  <td><%= offer.price %></td>
                  <td><%= offer.start_at.strftime("%F") %></td>
                  <td><%= offer.end_at.strftime("%F") %></td>
                  <td><span class="label <%= offer.active ? 'bg-green' : 'bg-red' %>"><%= offer.active %></span></td>
                  <td>
                    <%= link_to "Edit", edit_admin_product_offer_path(offer.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @offers %>
          </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <%= link_to 'New Offer', new_admin_product_offer_path, class: 'btn btn-default' %>

    </div>
  </div>
</section>
