<% url = @user.new_record? ? admin_users_path : admin_user_path(@user.id) %>
<%= form_for @user, url: url, html: { class: 'form-horizontal user' }  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :fullname, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :fullname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:country, User.roles.keys.map {|status| [status.titleize,status]}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :mobile, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mobile, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :role, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:role, User.roles.keys.map {|status| [status.titleize,status]}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
