<section class="content-header">
  <h1>
    Users
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Users</li>
  </ol>
</section>


<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <form action="<%= admin_users_path %>" method="GET">
        <div class="col-md-4 col-xs-12">
            <%
                @checked = false
                @checked = true unless params[:show_only_banned].nil?
            %>
          <%= check_box_tag 'show_only_banned', 'y', @checked, :onchange => 'this.form.submit()' %> Show Only Banned
        </div>
        <div class="col-md-8 col-xs-12 input-group custom-search-form">
          <div class="input-group input-group-sm" >
            <input type="text" name="q" class="form-control pull-right" placeholder="email, first_name, last_name or IP">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Fullname</th>
                <th>Mobile</th>
                <th></th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= link_to user.id, admin_user_path(id: user.id) %></td>
                  <td><%= user.email %></td>
                  <td><%= user.fullname %></td>
                  <td><%= user.email %></td>
                  <td>
                    <select onchange="location = this.options[this.selectedIndex].value;">
                      <option value="#">Go to ...</option>
                      <option value="<%= admin_user_path(id: user.id)%>">Show</option>
                      <option value="<%= admin_user_path(id: user.id)%>">Orders</option>
                    </select>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%= paginate @users %>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
