<section class="content-header">
  <h1>
   Editing User #<%= @user.id %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= admin_root_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="<%= admin_users_path %>"><i class="fa fa-tags"></i> Users</a></li>
    <li class="active">Editing User #<%= @user.id %></li>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/bootstrap_alert' %>
      <div class="box">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt><strong>Id:</strong></dt>
            <dd><%= @user.id %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Email:</strong></dt>
            <dd><%= @user.email %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>fullname:</strong></dt>
            <dd><%= @user.fullname %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Mobile:</strong></dt>
            <dd><%= @user.email %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Last sign in ip:</strong></dt>
            <dd><%= @user.last_sign_in_ip %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Admin:</strong></dt>
            <dd><%= @user.id %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Created at:</strong></dt>
            <dd><%= @user.created_at %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt><strong>Updated at:</strong></dt>
            <dd><%= @user.updated_at %></dd>
          </dl>

        </div>
      </div>
    <%= link_to 'Edit', edit_admin_user_path(@user.id), class: 'btn btn-default' %>
    <%= link_to 'Orders', edit_admin_user_path(@user.id), class: 'btn btn-default' %>
    <%= link_to 'Back', admin_users_path, class: 'btn btn-default' %>
    </div>
  </div>
</section>

