<div class="white-block mb-40">
    <h3>إدارة المتجر</h3>
    <ul class="list-group">
      <li class="list-group-item <%= active_class(dashboard_users_url) %>">
          <%= link_to dashboard_users_path do  %>
            <i class="fa fa-users"></i>
            <span>المستخدمين</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_products_url) %>">
          <%= link_to dashboard_products_path do  %>
            <i class="fa fa-list-ul"></i>
            <span>المنتجات</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_orders_url) %>">
          <%= link_to dashboard_orders_path do  %>
            <i class="fa fa-truck"></i>
            <span>الطلبات</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_reviews_url) %>">
          <%= link_to dashboard_reviews_path do  %>
            <i class="fa fa-thumbs-up"></i>
            <span>التقيمات</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_categories_url) %>">
          <%= link_to dashboard_categories_path do  %>
            <i class="fa fa-tags"></i>
            <span>التصنيفات</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_pages_url) %>">
          <%= link_to dashboard_pages_path do  %>
            <i class="fa fa-file"></i>
            <span>الصفحات</span>
          <% end %>
      </li>
    </ul>
</div>