<div class="white-block mb-40">
    <h3>تخصيص المتجر</h3>
    <ul class="list-group">
      <li class="list-group-item <%= active_class(dashboard_details_url) %>">
          <%= link_to dashboard_details_path do  %>
            <i class="fa fa fa-file-text"></i>
            <span>معلومات المتجر</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_design_url) %>">
          <%= link_to dashboard_design_path do  %>
            <i class="fa fa-picture-o"></i>
            <span>هوية المتجر</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_analytics_url) %>">
          <%= link_to dashboard_analytics_path do  %>
            <i class="fa fa-line-chart"></i>
            <span>تحليلات جوجل</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_social_media_url) %>">
          <%= link_to dashboard_social_media_path do  %>
            <i class="fa fa-share-alt"></i>
            <span>الشبكات الاجتماعية</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_domain_url) %>">
          <%= link_to dashboard_domain_path do  %>
            <i class="fa fa-globe"></i>
            <span>الدومين</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_seo_url) %>">
          <%= link_to dashboard_seo_path do  %>
            <i class="fa fa-laptop"></i>
            <span>محركات البحث</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_configuration_url) %>">
          <%= link_to dashboard_configuration_path do  %>
            <i class="fa fa-cogs"></i>
            <span>الإعدادات</span>
          <% end %>
      </li>
      <li class="list-group-item <%= active_class(dashboard_subscription_url) %>">
          <%= link_to dashboard_subscription_path do  %>
            <i class="fa fa-usd"></i>
            <span>الاشتراك</span>
          <% end %>
      </li>
    </ul>
</div>

