<div class="white-block mb-40">
  <h3>خطوات إكمال متجرك</h3>
  <ul class="list-group ">
    <li class="list-group-item" id="slogan_and_description">
      <% unless @current_store.setup_step.slogan_and_description %>
        <a href="/dashboard/setup/details"><i class="fa fa-square-o"></i> <span>معلومات المتجر</span></a>
      <% else %>
        <span class="line-through"><i class="fa fa-check-square-o"></i> معلومات المتجر</span>
      <% end %>
    </li>

    <li class="list-group-item" id="cover_photo">
      <% unless @current_store.setup_step.visual_identity %>
        <a href="/dashboard/setup/design"><i class="fa fa-square-o"></i> <span>هوية المتجر</span></a>
      <% else %>
        <span class="line-through"><i class="fa fa-check-square-o"></i> هوية المتجر</span>
      <% end %>
    </li>
    <li class="list-group-item">
      <% unless @current_store.setup_step.configuration %>
        <a href="/dashboard/setup/configuration"><i class="fa fa-square-o"></i> <span>إعدادات المتجر</span></a>
      <% else %>
        <span class="line-through"><i class="fa fa-check-square-o"></i> إعدادات المتجر</span>
      <% end %>
    </li>
    <li class="list-group-item">
      <% unless @current_store.setup_step.products %>
        <a href="/dashboard/products/new"><i class="fa fa-square-o"></i> <span>إضافة منتجات</span></a>
      <% else %>
        <span class="line-through"><i class="fa fa-check-square-o"></i> إضافة منتجات</span>
      <% end %>
    </li>
  </ul>
</div>