<%= render 'shared/bootstrap_alert' %>
<div class="col-lg-3 col-md-4 col-sm-4">
    <% unless @current_store.setup_step.finished?  %>
      <div class="device-big">
        <%= render 'dashboard/shared/sidebar/setup_steps' %>
      </div>
    <% end %>
    <ul class="nav nav-tabs device-small" role="tablist">
      <li role="presentation" class="<%= "active" unless @setup_store_tab %>"><a href="#manage" aria-controls="manage" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i>إدارة المتجر</a></li>
      <li role="presentation" class="<%= "active" if @setup_store_tab %>"><a href="#setup_store" aria-controls="setup_store" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> تخصيص المتجر </a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content store-tab p-0">
        <div role="tabpanel" class="tab-pane <%= "active" unless @setup_store_tab %>" id="manage">
          <%= render 'dashboard/shared/sidebar/manage' %>
        </div>
        <div role="tabpanel" class="tab-pane <%= "active" if @setup_store_tab %>" id="setup_store">
          <%= render 'dashboard/shared/sidebar/setup_store' %>
        </div>
    </div>
</div>

