<li class="list-group-item pr-0 <%= 'active' if params[:slug] == category.slug %> ">
  <% if category.has_child? %>
    <a class="dropdown-toggle" href="#">
      <%= image_tag category.slug + ".png", class: 'category-image' %>
      <%= category.name %>
    </a>
    <ul>
      <% category.subcategories.each do |subcategory| %>
        <li class="<%= 'active' if params[:slug] == subcategory.slug %>">
          <%= link_to product_category_path(category_slug: subcategory.slug) do  %>
             <span><%= subcategory.name %></span>
            <span class="size-11 text-muted pull-left"> (<%= subcategory.products.count %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= link_to product_category_path(category_slug: category.slug) do  %>
       <%#= image_tag category.slug + ".png", class: 'category-image' %>
       <span><%= category.name %></span>
      <span class="size-11 text-muted pull-left"> (<%= category.products.count %>)</span>
    <% end %>
  <% end %>
</li>