<% if current_user.favorite_product?(@product.id)  %>
  <%= link_to  destroy_favorite_path(:product_id => @product.id),remote: true, method: :delete, class: 'add-favorite',"data-item-id"=>"add-favorite", "data-toggle"=> "tooltip", title: "إزالة من المفضلة" do  %>
    <i class=" fa fa-heart fa-fw"></i> <i class='fa fa-spinner fa-spin fa-lg hidden '></i>
  <% end %>
<% else  %>
  <%= link_to  favorite_path(:product_id => @product.id) ,remote: true, method: :post, class: 'remove-favorite',"data-toggle"=> "tooltip", title: "أضف الى المفضلة" do  %>
    <i class="fa fa-heart-o fa-fw"></i> <i class='fa fa-spinner fa-spin fa-lg hidden '></i>
  <% end %>
<% end %>
<!--
<% if current_user.can_add_review?(@product.id) %>
  <li><a href="#review_form"><i class="fa fa-thumbs-up fa-fw"></i> <%= t('review.review_product') %></a></li>
<% end %>
-->