<% condition = page.present? && page.eql?("main_store") rescue false %>
<% if condition %>
  <% cols = 'col-lg-3 col-md-4 col-sm-6 col-xs-12' %>
<% else %>
  <% cols = 'col-lg-4 col-sm-6 col-xs-12 ' %>
<% end %>

<!-- ITEM -->
<div class="<%= cols %>">
  <div class="shop-item bg-white">

    <div class="thumbnail p-0 noborder">
      <!-- product image(s) -->
       <%= link_to product_path(category_slug: product.category.slug, id: product.id) do  %>
         <%= image_tag url_for(product.images[0].variant(resize_to_limit: [200, 200])), class: "img-responsive" %>
       <% end %>
      <!-- /product image(s) -->

      <% if product.has_offer? %>
        <!-- product more info -->
        <div class="shop-item-info">
          <span class="label label-danger"><%= t('product.limited_offer') %></span>
        </div>
        <!-- /product more info -->
      <% end %>
    </div>
    
    <div class="shop-item-summary text-center">
      <h2><%= link_to product.title, product_path(category_slug: product.category.slug, id: product.id) %></h2>
      
      <div class="shop-item-rating-line">
        <div class="rating rating-<%= product.average_rate %> size-13"><!-- rating-0 ... rating-5 --></div>
      </div>

      <div class="shop-item-price">
        <% if product.has_offer? %>
          <span class="line-through"><%= product.price  %></span>
          <%= product.offer_price  %> <%= @current_store.currency  %>
        <% else %>
          <%= product.price  %> <%= @current_store.currency  %>
        <% end %>
      </div>
    </div>

    <!-- buttons -->
    <div class="shop-item-buttons text-center hidden">
        <% if product.available? %>
          <%= link_to cart_items_path(product_id: product.id), method: :post, remote: true, class: "btn btn-default add_to_cart #{'hidden' if @cart.find_product?(product.id)}", id: "add_to_cart-#{product.id}" do %>
                   <i class="fa fa-cart-plus"></i> <i class="fa fa-spinner fa-spin hidden"></i>
                    <%= t('cart.add') %>
                <% end %>

          <%= link_to cart_path, class: "btn btn-primary  #{'hidden' if !@cart.find_product?(product.id)}", id: "cart_link-#{product.id}" do %>
                <i class="fa fa-cart-plus"></i>
                  <%= t('buttons.cart') %>
                <% end %>
        <% else %>
          <div class="shop-item-buttons text-center">
            <span class="out-of-stock"><%= t('product.out_of_stack') %></span>
          </div>
        <% end %>
    </div>
    <!-- /buttons -->
  </div>
</div>
<!-- /ITEM -->