<% if @product.reviews.active.length > 0   %>
  <div class="white-block mb-30 mt-30">
    <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-20" >
      <li role="presentation" class="active"><a href="#reviews"><%= t('product.review') %> (<%= @product.reviews.active.count %>)</a></li>
    </ul>
    <div class="tab-content padding-top-20">
        <!-- REVIEWS -->
      <div id="reviews">
        <% if !@product.reviews.active.nil?   %>
          <%= render @product.reviews.active %>
        <% else %>
          <p> لا يوجد تقيمات بعد</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>