<% title t('header.shop') %>

<section class="page-header page-header-xs">
  <div class="container">
    <% if @category  %>
      <h1><%= @category.name %></h1>
    <% else %>
      <h1><%= t('header.shop') %></h1>
    <% end %>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <i class="fa fa-cart-plus"></i>
        <%= link_to root_path do  %>
         <%= t('header.shop') %>
        <% end %>
      </li>
      <% if @category %>
        <li>  
          <%= link_to product_category_path(category_slug: @category.slug ) do %>
            <i class="fa fa-tag"></i> 
            <%= @category.name %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->

<section class='pt-0'>
  <div class="container">
    <div class="row">
      <%= render 'shared/bootstrap_alert' %>
      <!-- LEFT -->
      <div class="col-lg-3 col-md-3 col-sm-3 ">
        <!-- CATEGORIES -->
        <div class="side-nav margin-bottom-40">

          <div class="side-nav-head">
            <button class="fa fa-bars"></button>
            <h4>التصنيفات</h4>
          </div>

          <ul class="list-group list-group-bordered list-group-noicon uppercase">
            <%= render partial: 'category', collection: @current_store.categories %>
          </ul>

        </div>
        <!-- /CATEGORIES -->

        <div class="margin-bottom-20 text-center">
          <a href="#">
            <%= image_tag 'off_1.png', class: "img-responsive", width: "270", height: "350"  %>
          </a>
        </div> 

      </div>
      <!-- RIGHT -->
      <div class="col-lg-9 col-md-9 col-sm-9 ">
        <dev class="">
          <%= render @products %>
        </dev>
        <div class="text-center">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / -->