<% title @product.title %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1><%= @product.title %></h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <i class="fa fa-cart-plus"></i>
        <%= link_to root_path do  %>
         <%= t('header.shop') %>
        <% end %>
      </li>
      <li>  
        <%= link_to product_category_path(category_slug: @product.category.slug ) do %>
          <i class="fa fa-tag"></i> 
          <%= @product.category.name %>
        <% end %>
      </li>
      <li class='active'>  
        <%= @product.title %>
      </li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->

<section class="p-0">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9">

        <div class="product_gallery bg-white">
          <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "rtl": true}'>
            <% @product.images.each_with_index do |image, index| %>
              <div>
                <img class="img-responsive h-450" src="<%= url_for(image.variant(resize_to_limit: [1200, 800])) %>" alt="">
              </div>
            <% end %>
          </div>
        </div>
        <div class="white-block margin-bottom-20">
          <div class="pull-left">
            <% if current_user %>
              <div class="favorite-link">
                <%= render "favorite_links" %>
              </div>
            <% end %>
          </div>

          <div class="shop-item-price clearfix">
            <% if @product.has_offer? %>
              <span class="line-through nopadding-left"><%= @product.price  %></span>
              <%= @product.offer_price  %> <%= @current_store.currency  %>
            <% else %>
              <%= @product.price  %> <%= @current_store.currency  %>
            <% end %>
          </div>
          <hr />

          <div class="clearfix margin-bottom-30">
            <% if @product.available? %>
              <span class="pull-left text-success"><i class="fa fa-check"></i>متوفر</span>
            <% else %>
              <span class="pull-left text-danger"><i class="glyphicon glyphicon-remove"></i> غير متوفر</span>
            <% end %>
            <span class="ltr">
               <strong class="pull-right"> :SKU </strong>
               <span class="mr-10"> UY7321987</span>
            </span>
          </div>

          <!-- short description -->
          <div><%= simple_format(@product.description) %></div>

          <% if @product.has_offer? %>
            <!-- countdown -->
            <div class="text-center margin-top-20">
              <h5><%= t('product.limited_offer') %></h5>
              <div class="countdown" data-from="<%= @product.offer_end_at.strftime('%B %d, %Y  %H:%M:%S') %>" data-labels="years,months,weeks,days,hour,min,sec">
                <!-- years,months,weeks,days,hour,min,sec -->
              </div>
            </div>
            <!-- /countdown -->
          <% end %>

          <hr />

          <!-- FORM -->
          <div class="mb-20">
            <% if @product.available? %>
              <%= link_to cart_items_path(product_id: @product.id), method: :post, remote: true, class: "btn btn-primary add_to_cart noradius #{'hidden' if @cart.find_product?(@product.id)}", id: "add_to_cart-#{@product.id}" do %>
                  <i class="fa fa-cart-plus"></i> <i class="fa fa-spinner fa-spin hidden"></i>
                  <%= t('cart.add') %>
              <% end %>
              <%= link_to cart_path, class: "btn btn-primary noradius #{'hidden' if !@cart.find_product?(@product.id)}", id: "cart_link-#{@product.id}" do %>
                  <i class="fa fa-cart-plus"></i>
                  <%= t('buttons.cart') %>
              <% end %>
            <% end %>
          </div>
          <!-- /FORM -->

          <!-- Share -->
          <div class="pull-left">

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

          </div>
          <!-- /Share -->

          <!-- rating -->
          <div class="rating rating-<%= @product.average_rate %> size-13 margin-top-10 width-100"></div>
          <!-- /rating -->
        </div>
      
        <%= render "reviews" %>
        <% if @current_store.enable_reviews? %>
          <%= render "reviews/form" %>
        <% end %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">

        <!-- CATEGORIES -->
        <div class="side-nav hidden margin-bottom-20 white-block">

          <div class="side-nav-head">
            <button class="fa fa-bars"></button>
            <h4>التصنيفات</h4>
          </div>

          <ul class="list-group list-group-bordered list-group-noicon uppercase">
            <%= render partial: 'category', collection: @current_store.categories %>
          </ul>

        </div>
        <!-- /CATEGORIES -->

        <!-- FEATURED -->
        <div class="margin-bottom-20 white-block">
          <h4>المنتجات المقترحة</h2>
          <div class="featured releated">
            <ul class="list-group col_half nomargin text-right">
              <% @similar_products.each do |product|  %>
                <li class="clearfix list-group-item pr-0"><!-- item -->
                  <a class="block size-14" href="#"><%= product.title %></a>
                </li><!-- /item -->
                <li class="clearfix list-group-item pr-0"><!-- item -->
                  <a class="block size-14" href="#"><%= product.title %></a>
                </li><!-- /item -->
              <% end %>
            </ul>
          </div>
        </div>
        <!-- /FEATURED -->

        <!-- BANNER ROTATOR -->
        <div class="margin-bottom-60 text-center">
          <a href="#">
            <img class="img-responsive" src="<%= image_path("off_1.png") %>" width="270" height="350" alt="">
          </a>
        </div>
        <!-- /BANNER ROTATOR -->

      </div>
    </div>
    
  </div>
</section>
<!-- / -->
