<% if current_user && !current_user.review_product?(@product)  %>
  <!-- REVIEW FORM -->
  <div class="white-block margin-bottom-20">
     <h4 class="margin-bottom-20"><%= t('review.review_product') %>:</h4>
      <div id="errors"></div>
      <%= form_for(@review, :html => {id: "form",  class: "mb-0"}, remote: true) do |f| %>
      <input type="hidden" name="review[product_id]" value="<%= @product.id %>" />
      
      <!-- Comment -->
      <div class="margin-bottom-30">
        <%= f.text_area :content,class: 'form-control', placeholder: "محتوى التقييم", rows: 6  %>
      </div>

      <!-- Stars -->
      <div class="product-star-vote clearfix">

        <label class="radio pull-right">
          <input type="radio" name="review[rate]" value="1" />
          <i></i> <%= t('review.star') %>
        </label>

        <label class="radio pull-right">
          <input type="radio" name="review[rate]" value="2" />
          <i></i> <%= t('review.two_star') %>
        </label>

        <label class="radio pull-right">
          <input type="radio" name="review[rate]" value="3" />
          <i></i> <%= t('review.three_star') %>
        </label>

        <label class="radio pull-right">
          <input type="radio" name="review[rate]" value="4" />
          <i></i> <%= t('review.four_star') %>
        </label>

        <label class="radio pull-right">
          <input type="radio" name="review[rate]" value="5" />
          <i></i> <%= t('review.five_star') %>
        </label>

      </div>
      <%= f.button t('buttons.review'), class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> sending ..."} %>
      <!-- Send Button -->
      
    <% end %>
    <!-- /REVIEW FORM -->
  </div>
<% end %>