<!-- REVIEW ITEM -->
<div class="block margin-bottom-20">
  <div class="user-avatar"><!-- user-avatar -->
    <%= gravatar_for(review.user, 64, review.user.fullname, 'pull-right media-object img-thumb' ) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading size-14">
      <%= review.user.fullname %>  &ndash; 
      <span class="text-muted"><%= review.created_at.strftime('%F') %></span>  &ndash;
      <span class="size-14 text-muted"><!-- stars -->
        <div class="rating rating-<%= review.rate %> size-13 margin-top-10 width-100"></div>
      </span>
    </h4>
    <%= simple_format(review.content)  %>
  </div>
</div>
<!-- /REVIEW ITEM -->