$("#reviews #errors").html("");
<% if @review.errors.any? %>
  $("#errors").html('<div class="alert alert-danger alert-block "><button type="button" class="close" data-dismiss="alert">&times;</button><ul></ul></div>');
  <% @review.errors.full_messages.each do |message| %>
    $("#errors .alert ul").append($("<li />").html("<%= message.html_safe %>"));
  <% end %>
<% else %>
  $(".product_reviews").html("<%= escape_javascript(render 'products/reviews') %>");
  $("#review_form").html("<%= escape_javascript(render 'review_form') %>");
<% end %>



