<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <% if current_user %>
    <div class="user-panel">
      <div class="pull-left image">
         <%= gravatar_for(current_user, 160, current_user.fullname, 'user-circle' ) %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.fullname %></p>
      </div>
    </div>

    <% end %>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= admin_root_path %>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="<%= admin_users_path %>">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right"><%= User.all.count %></span>
          </span>
        </a>
      </li>

      <li>
        <a href="<%= admin_categories_path %>">
          <i class="fa fa-tags "></i> <span>Categories</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Category.all.count %></small>
          </span>
        </a>
      </li>

      <li >
        <a href="<%= admin_products_path %>">
          <i class="fa fa-database"></i> <span>Productes</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Product.all.count %></small>
          </span>
        </a>
      </li>

      <li >
        <a href="<%= admin_product_offers_path %>">
          <i class="fa fa-gift"></i> <span>Offers</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= ProductOffer.all.count %></small>
          </span>
        </a>
      </li>

      <li>
        <a href="<%= admin_orders_path %>">
          <i class="fa fa-cogs"></i> <span>Orders</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Order.all.count %></small>
          </span>
        </a>
      </li>

      <li>
        <a href="<%= admin_pages_path %>">
          <i class="fa fa-files-o"></i> <span>Pages</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Page.all.count %></small>
          </span>
        </a>
      </li>

      <li>
        <a href="<%= admin_reviews_path %>">
          <i class="fa fa-comment-o"></i> <span>Reviews</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Review.all.count %></small>
          </span>
        </a>
      </li>

      <li>
        <a href="<%= admin_contacts_path %>">
          <i class="fa fa-send"></i> <span>Contacts</span>
          <span class="pull-right-container">
            <small class="label label-primary pull-right"><%= Contact.all.count %></small>
          </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>