<% badge_cart = @cart.items.count   %>
<span class="badge badge-primary btn-xs badge-corner <%= 'hidden' if badge_cart == 0 %>"> <%= badge_cart %></span>
<i class="fa fa-shopping-cart"></i> <span class="cart-text"><%= t('header.cart') %></span> 
