<section id='cover_photo' class="parallax parallax-2"
  style="background:url('<%= @current_store_cover %>');">
  <div class='overlay dark-2'>
  </div>
  <div class='display-table'>
    <div class='display-table-cell vertical-align-middle'>
      <div class='container text-center'>
        <h1 class='nomargin size-30 weight-300 wow fadeInUp' data-wow-delay='0.4s'>
          <% if !@current_store.slogan.blank? %>
            <%= @current_store.slogan %>
          <% end %>
        </h1>
        <p class='lead margin-top-10 wow fadeInUp hidden-xs' data-wow-delay='0.7s'>
          <% if !@current_store.description.blank? %>
            <%= @current_store.description %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>