<footer id="footer" class="footer-light bg-white">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <!-- Footer Logo -->
        <%# = image_tag "logo_light.png",class: "footer-logo" %>
        <!-- Contact Address -->
        <h3>
          <%= t('footer.info_contact') %>
        </h3>
        <address></address>
        <ul class='footer-links list-unstyled'>
          <% if @current_store.try(:address) %>
            <li class='footer-sprite address'>
              <i class='fa fa-map-marker'></i>
              <%= t('footer.address') %>
              <%= @current_store.try(:address) %>
            </li>
          <% end %>
          <li class='footer-sprite phone'>
            <i class='fa fa-phone'></i>
            <%= t('footer.phone') %>
            <%= @current_store.try(:mobile) %>
          </li>
          <li class='footer-sprite email'>
            <i class='fa fa-envelope'></i>
            <%= t('footer.email')  %>
            <a href="<%= @current_store.try(:email) %>"><%= @current_store.try(:email) %></a>
          </li>
        </ul>
        <!-- /Contact Address -->
      </div>
      <div class='col-md-4'>
        <!-- Links -->
        <h3>
          <%= @current_store.try(:slogan) %>
        </h3>
        <ul class='footer-links list-unstyled'>
          <% @current_store.pages.published.each do |page| %>
            <li>
              <a href="/p/<%=page.slug %>">
                <%= page.title %>
              </a>
            </li>
          <% end %>
          <li>
            <a href="/p/contact-us">
              <%= t("footer.pages.contactus") %>
            </a>
          </li>
        </ul>
        <!-- /Links -->
      </div>
      <div class='col-md-4'>
        <h3>
          <%= t('footer.flow') %>
        </h3>
        <!-- social icons -->
        <div class="margin-top-20">

          <% if @current_store.facebook.present? %>
            <a href="<%= @current_store.facebook %>" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
          <% end %>

          <% if @current_store.twitter.present? %>
            <a href="<%= @current_store.twitter %>" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
          <% end %>
          <% if @current_store.instagram.present? %>
            <a href="<%= @current_store.instagram %>" class="social-icon social-icon-sm social-instagram" data-toggle="tooltip" data-placement="top" title="instagram">
              <i class="icon-instagram"></i>
              <i class="icon-instagram"></i>
            </a>
          <% end %>

          <a href="#" class="social-icon social-icon-sm social-rss" data-toggle="tooltip" data-placement="top" title="RSS">
            <i class="icon-rss"></i>
            <i class="icon-rss"></i>
          </a>

        </div>
        <!-- /social icons -->
      </div>
    </div>
  </div>
  <div class='copyright'>
    <div class='container'>
      <ul class="text-center nomargin list-inline mobile-block">
        <li>© <%= Time.now.year %> جميع الحقوق محفوظة <%= @current_store.try(:slogan) %></li>
      </ul>
    </div>
  </div>
</footer>
<a href='#' id='toTop'></a>