<% if @current_store.google_analytics_key.present? %>
  <% if Rails.env.production? || Rails.env.staging? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @current_store.google_analytics_key %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= @current_store.google_analytics_key %>');
    </script>
  <% end %>
<% end %>