<div id="header" class="sticky header-sm clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">

      <!-- Mobile Menu Button -->
      <button type="button" class="btn btn-mobile navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
        <i class="fa fa-bars"></i>
      </button>

      <% if @current_store_logo %>
        <%= link_to root_path(subdomain: @current_store.ident) ,class: "logo pull-right" do  %>
          <img src="<%= @current_store_logo %>" class="img-responsive">
        <% end %>
      <% end %>

      <ul class="pull-left nav nav-pills nav-second-main has-topBar">
        <li class="search">
          <a href="javascript:;">
            <i class="fa fa-search"></i>
          </a>
          <div class="search-box" style="display: none;">
            <form action="<%= search_path %>" method="get">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><%= t('buttons.search') %></button>
                </span>
                <input type="text" name="q" placeholder="<%= t('header.search_placeholder') %>" class="form-control">
              </div>
            </form>
          </div> 
        </li>
         
        <!-- QUICK SHOP CART -->
        <li class="quick-cart">
          <a href="#" class='cart-badge'>
            <%= render 'shared/stores/cart_badge' %>
          </a>
          <div class="quick-cart-box">

            <div class="quick-cart-wrapper">
              <%= render 'cart_items/item' %>
            </div>

            <!-- quick cart footer -->
            <div class="quick-cart-footer clearfix">
              <%= link_to t('buttons.cart'), cart_path, class: "btn btn-primary btn-xs pull-right" %>
            </div>
            <!-- /quick cart footer -->

          </div>
        </li>
        <!-- /QUICK SHOP CART -->
      </ul>

      <div class="pull-right navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-fade navbar-offcanvas-right" id="js-bootstrap-offcanvas">
        <div class="mobile-menu">
          <h3 class="weight-600">القائمة
            <button type="button" class="navbar-toggle offcanvas-toggle pull-left ml-0" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
              <i class="fa fa-times size-25"></i>
            </button>
          </h3>
          
        </div>
        <nav class="nav-main">
          <% if user_signed_in? %>
            <ul id="topMain" class="nav nav-pills nav-main">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"><i class="fa fa-user-circle-o fa-lg"></i> <%= current_user.fullname %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to edit_user_registration_path(subdomain: @current_store.ident) do %>
                      <i class="fa fa-pencil-square-o"></i> 
                      <%= t('header.edit_user') %>
                    <% end %>
                  </li>
                 <li>
                    <%= link_to locations_path() do %>
                      <i class="fa fa-map-o"></i> 
                      قائمة العناوين
                    <% end %>
                  </li>
                  <li class="item-divider">
                    <%= link_to  destroy_user_session_path , method: :DELETE  do %>
                      <i class="fa fa-sign-out"></i> 
                        <%= t('header.signout') %>
                    <% end %>
                  </li>
                </ul>
              </li>
              <% if @current_store.owner == current_user %>
                <li>
                  <%= link_to dashboard_dashboard_path do  %>
                    <i class="fa fa-tachometer"></i> <%= t('header.dashboard') %>
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to orders_path do  %>
                  <i class="fa fa-shopping-basket"></i> <%= t('header.my_orders') %>
                <% end %>
              </li>

              <li>
                <%= link_to favorites_path do  %>
                  <i class="fa fa-heart"></i> <%= t('header.favorite') %>
                <% end %>
              </li>

            </ul>
          <% else %>
            <ul id="topMain" class="nav nav-pills nav-main">
              <li>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-sign-in"></i>
                  <%= t('buttons.login') %>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <i class="fa fa-user"></i>
                  <%= t('buttons.signup') %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->
</div>

