<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<meta name='description'
    content='<%= yield_meta_tag(:description, @current_store.meta_description) %>' />
<% if @current_store_favicon %>
  <link rel="shortcut icon" type="image/png" href="<%= @current_store_favicon %>">
<% end %>
<% if false #@product %>
  <meta name="og:title" content="<%= @product.title %>" />
  <meta name="og:description" content="<%= truncate(@product.description, length: 25) %>" />
  <meta name="og:image" content="<%= Settings.host %><%= @product.image.url %>" />
  <meta name="og:url" content="<%= @product.full_url %>" />
<% end %>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_pack_tag 'application' %>
<%= render "shared/stores/google_analytics" %>
<%= csrf_meta_tags %>