#topMain {
  & > li {
    & > a {
      height: 96px;
      line-height: 76px;
    }
  }
  &.nav-pills {
    & > li {
      & > a {
        color: #1F262D;
        font-weight: 400;
        background-color: transparent;
        &.dropdown-toggle {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
      &.active {
        & > a {
          color: #687482;
        }
      }
    }
  }
}
#topMain.nav-pills>li:hover>a, 
#topMain.nav-pills>li:focus>a {
  color: #1F262D;
  background-color: rgba(0,0,0,0.03);
}
#header.bottom.dropup #topMain.nav-pills li a.dropdown-toggle:after {
  content: "\f106";
}

#topNav {
  .navbar-collapse {
    float: right;
  }
  a {
    &.logo {
      height: 96px;
      line-height: 96px;
      overflow: hidden;
      display: inline-block;
    }
    &.offcanvas-toggle {
      i {
        font-size: 21px;
      }
    }
    &.navbar-toggle {
      margin-right: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 1215px) {
  #topMain {
    &.nav-pills {
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #header {
    height: 60px !important;
    #topNav {
      a {
        &.logo {
          height: 60px !important;
          line-height: 50px !important;
          img {
            max-height: 60px !important;
          }
        }
      }
      #topMain {
        li {
          a {
            height: 40px !important;
            line-height: 40px !important;
            padding-top: 0;
          }
        }
      }
    }
  }
  #topMain {
    li {
      border-bottom: rgba(0,0,0,0.1) 1px solid;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}