#map {
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  &.large {
    height: 500px;
  }
}
