.details-td {
  width: 100%;
}
.details-head {
  margin: 0 0 5px !important;
  font-size: 18px;
  display: block;
  font-weight: normal !important;
}
.details-list {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  li {
    font-size: 12px;
    display: inline-block;
    padding-right: 0;
    margin: 0 0 5px 10px !important;
    i {
      margin: 0;
    }
    a {
      color: #444;
    }
  }
}
.order_image {
  height: 40px;
  width: 40px;
}
.img-thumb {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #e3e3e3;
}
a {
  &.order-link {
    &:visited {
      color: $black;
    }
    &:hover {
      color: $black;
    }
    &:focus {
      color: $black;
    }
    &:active {
      color: $black;
    }
  }
}

