.img-thumbnail {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}
@media(max-width:480px) {
  .img-thumbnail{
    height: 50px;
  }
}

.note-editor {
  .btn-default {
    border-width: 1px;
  }
}
.image-tip {
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}
.preview-image {
  img {
   width: 100%;
  }
}
table {
  .dropdown-menu {
    min-width: 60px;
    margin: 0;
    padding: 0;
    margin-left: -1px;
    border: 0;
    li {
      a {
        padding: 7px 15px;
        font-size: 12px;
        & > i {
          margin-right: 0;
          margin-left: 6px;
        }
      }
      &.divider {
        margin: 0;
        padding: 0;
        border-bottom: 0;
        height: 1px;
      }
    }
  }
  .dropdown-langs {
    li {
      a {
        padding: 3px 6px;
        font-size: 12px;
      }
      &:hover {
        a {
          color: #000 !important;
          background-color: #eee;
        }
      }
    }
  }
}

.white {
  background: $white;
}

.c-green {
  color: $green;
}

.c-red, .c-red:focus, .c-red:hover, .c-red:active{
  color: red !important;
}

.c-grey.help-block {
  color: #737373 !important;
}


.btn-default {
    color: #575858 !important;
    background-color: #f5f5f5 !important;
    border-color: #bababa !important;
    border-width:1px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #575858 !important;
    background-color: white !important;
    border-color: #c2c2c2 !important;
    box-shadow: none;
}