@media only screen and (max-width: 768px) {
  #cart_table {
    tr {
      border-bottom: 1px solid #ECEFF4;
      &:nth-child(1) {
        display: none;
      }
      td {
        float: right;
        width: 100%;
        padding-bottom: 10px;
        &:nth-child(1) {
          width: 30%;
          height: 100px;
          margin-bottom: 15px;
          padding-left: 0;
        }
        &:nth-child(2) {
          width: 70%;
          height: 100px;
          margin-bottom: 15px;
        }
        &:nth-child(3) {
          width: 50%;
          padding-top: 0;
        }
        &:nth-child(4) {
          width: 35%;
          padding-top: 0;
          text-align: center;
        }
        &:nth-child(5) {
          width: 15%;
          padding-top: 0;
          text-align: left;
        }
      }
    }
    #total_amount_td {
      margin-bottom: 0;
      padding: 20px;
    }
    select {
      &.cart_item_quantity {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  #cart_table tr td,
      #cart_table tr th {
    border-bottom: none;
  }
  #cart_table tr td:nth-child(4),
      #cart_table tr td:nth-child(5) {
    margin-top: 5px;
  }

}

@media only screen and (max-width: 480px) and (min-width: 401px) {
  .bs-wizard {
    height: 100px;
    .bs-wizard-step {
      .bs-wizard-stepnum {
        &.ku {
          font-size: 13px;
          line-height: 24px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .bs-wizard {
    .bs-wizard-step {
      .bs-wizard-stepnum {
        &.ku {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
  }
}

/* small device */
@media (max-width: 767px) {
    .device-big {
        display: none;
    }
    .device-small {
        display: block;
    }
}
/* big device */
@media only screen and (min-width : 768px) {
    .device-big {
        display: block;
    }
    .device-small {
        display: none;
    }
    .tab-content.store-tab > .tab-pane {
        display: block;
    }
}