// font-family
$font-naskh: 'Noto Naskh Arabic', 'Open Sans', serif;
$font-kufi: 'Noto Kufi Arabic', 'Open Sans', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-tahoma: tahoma, sans-serif, serif, Verdana, Arial, Helvetica, 'Trebuchet MS';

//  borders
$gray-border: 1px solid #ECEFF4;
$lightgray-border: 1px solid #F1F1F1;

//  colors
$white: #fff;
$light-gray: #F1F1F1;
$error-color :#FAD1D1;
$success-color: #C9F6D1;
$green: #52b035;
$dark-gray: #555555;
$light-black: #777777;
$black: #222222;
$theme-color: #3072e0;

$facebook: #4267B2;
$twitter: #1DA1F2;
$linkedin: #008CC9;

// font-size
$h1-intro: 32px;
$h2-intro: 24px;

$h1-font-size: 24px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$small-size: 12px;
$normal-size: 16px;
$table-font-size: 14px;

//tablet
$h1-t-font-size: 22px;

//moobile
$h1-m-font-size: 19px;
$h2-m-font-size: 18px;
$h3-m-font-size: 16px;
$h4-m-font-size: 14px;
$h5-m-font-size: 12px;
$h6-m-font-size: 10px;

// margins
$small-margin: 5px;
$normal-margin: 10px;
$large-margin: 15px;
$massive-margin: 20px;

// padding
$small-padding: 5px;
$normal-padding: 10px;
$large-padding: 15px;
$massive-padding: 20px;
