.bs-wizard {
  .bs-wizard-step {
    padding: 0;
    position: relative;
    .bs-wizard-stepnum {
      color: #595959;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .bs-wizard-info {
      color: #999;
      font-size: 14px;
    }
    .bs-wizard-dot {
      position: absolute;
      width: 30px;
      height: 30px;
      display: block;
      background: #3072e0;
      top: 45px;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 50%;
      &:after {
        content: ' ';
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50px;
        position: absolute;
        top: 8px;
        left: 8px;
      }
    }
    &.active {
      .bs-wizard-dot {
        &:after {
          content: ' ';
          width: 14px;
          height: 14px;
          background: #fff;
          border-radius: 50px;
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }
      .progress {
        .progress-bar {
          width: 50%;
        }
      }
    }
    .progress {
      position: relative;
      border-radius: 0px;
      height: 8px;
      box-shadow: none;
      margin: 20px 0;
      .progress-bar {
        width: 0px;
        box-shadow: none;
        background: #3072e0;
      }
    }
    &.complete {
      .progress {
        .progress-bar {
          width: 100%;
        }
      }
    }
    &:first-child {
      &.active {
        .progress {
          .progress-bar {
            width: 0%;
          }
        }
      }
      .progress {
        right: 50%;
        width: 50%;
      }
    }
    &:last-child {
      &.active {
        .progress {
          .progress-bar {
            width: 100%;
          }
        }
      }
      .progress {
        width: 50%;
      }
    }
    &.disabled {
      .bs-wizard-dot {
        background-color: #f5f5f5;
        &:after {
          opacity: 0;
        }
      }
      a {
        &.bs-wizard-dot {
          pointer-events: none;
        }
      }
    }
  }
}
