<%= form_for(@location) do |f| %>
  <div id="place-on-map">
    <% if @current_store.enabled_maps? %>
      <div id="submit-map"></div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <%= f.label :latitude %>
            <%= f.text_field :latitude, autofocus: true, class: 'form-control', id: 'latitude', :readonly => true %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <%= f.label :longitude %>
            <%= f.text_field :longitude, autofocus: true, class: 'form-control', id: 'longitude', :readonly => true%>
          </div> 
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <%= f.label :google_address %>
            <%= f.text_field :google_address, autofocus: true, class: 'form-control', id: 'google_address', :readonly => true%>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group <%= 'has-error' if @location.errors[:location_type].any? %>">
      <%= f.label :location_type %>
      <%= f.text_field :location_type, autofocus: true, class: 'form-control', :placeholder => "المنزل أو العمل ..."%>
      <small class="help-block <%= 'hidden' unless  @location.errors[:location_type].any? %>"><%= @location.errors[:location_type].first %></small>
    </div>

    <div class="form-group <%= 'has-error' if @location.errors[:fullname].any? %>">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, autofocus: true, class: 'form-control'%>
      <small class="help-block <%= 'hidden' unless  @location.errors[:fullname].any? %>"><%= @location.errors[:fullname].first %></small>
    </div>

    <div class="form-group <%= 'has-error' if @location.errors[:mobile].any? %>">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, autofocus: true, class: 'form-control'%>
      <small class="help-block <%= 'hidden' unless  @location.errors[:mobile].any? %>"><%= @location.errors[:mobile].first %></small>
    </div>

    <div class="form-group <%= 'has-error' if @location.errors[:address].any? %>">
      <%= f.label :address %>
      <%= f.text_field :address, autofocus: true, class: 'form-control'%>
      <small class="help-block <%= 'hidden' unless  @location.errors[:address].any? %>"><%= @location.errors[:address].first %></small>
    </div>
    <div class="form-group">
      <%= f.button "ارسال", class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.order_loading')} ..."} %>
    </div>

    <div class="clearfix"></div>     
  </div><!-- /#place-on-map -->
<% end %>