<tr>
  <td class="details-td">
    <h3 class="details-head">
      <i class="size-20 fa fa-map-o"></i> <%= location.location_type %>
    </h3>
    <ul class="details-list">
      <li><i class="fa fa-fw fa-user"></i><span> <%= location.fullname %></span> </li>
      <li><i class="fa fa-fw fa-mobile"></i> <span><%= location.mobile %></span></li>
      <li><i class="fa fa-fw fa-clock-o"></i> <span> <%= location.created_at.strftime("%F") %></span> </li>
    </ul>
 
  </td>

  <td>
     <div class="pull-left">
       <div class="dropdown btn-group">
           <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
               <i class="fa fa-gear"></i>
               <span class="hidden-xs"> خيارات</span>
               <i class="fa fa-caret-down"></i>
             </button>
           
           <ul class="dropdown-menu dropdown-left dropdown-menu-left" role="menu" aria-labelledby="خيارات المستخدم">
              <li>
                <%= link_to  edit_location_path(location.id) do %>
                  <i class="fa fa-pencil"></i>
                  <span class="action-text">تعديل العنوان</span>
                <% end %>
              </li>
              <% if location.orders.count == 0 %>
                <li>
                  <%= link_to  location_path(location.id), class: "c-red", :method => :delete, data: {:confirm => 'هل انت متأكد ؟'} do %>
                    <i class="fa fa-trash"></i>
                    <span class="action-text">حذف العنوان</span>
                  <% end %>
                </li>
              <% end %>
           </ul>
       </div>
     </div>
  </td>
  
</tr>
