<% title "تعديل عنوان توصيل" %>

<section class="page-header page-header-xs">
  <div class="container">

    <h1>تعديل عنوان توصيل</h1>
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li> 
        <%= link_to root_path do  %>
          <i class="fa fa-home"></i> الرئيسية
        <% end %>
      </li>
      <li>تعديل عنوان توصيل</li>
    </ol><!-- /breadcrumbs -->
  </div>

</section>
<!-- /PAGE HEADER -->


<section class="padding-top-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="white-block">
          <div class="heading-title mb-20 line-height-normal">
            <h3 class="block-inline">عنوان التوصيل <span data-toggle="tooltip" title="اسحب المؤشر الموجود على الخريطة لتحديد موقعك بشكل يدوي"><i class="fa fa-info-circle size-20 theme-color <%= "hidden" unless  @current_store.enabled_maps? %>" aria-hidden="true"></i></span></h3>
            <% if  @current_store.enabled_maps? %>
              <span class="pull-left">
                <a href="javascript:;" class='geo-location btn btn-primary btn-sm'><i class='fa fa fa-map-marker'></i> حدد موقعي عبر GPS </a>
              </span>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <%= render "form" %>
        </div>
      </div>  
      <div class="col-lg-4 col-sm-4 col-left">
        <div class="white-block">
          <div class="heading-title mb-20">
            <h3>نصائح مهمة</h3>
          </div>

          <div>
            <ul class="list-styled-disc">
              <li>ادخل عنوانك بشكل دقيق</li>
              <li>تأكد ان رقم الموبايل صحيح</li>
              <li>ادخال اسمك الحقيقي يساعدنا على التواصل معك بشكل افضل</li>
              <li>ادخال كل العناوين الخاصة بك سوف يسهل عليك عملية الشراء </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>