<% title "قائمة العناوين" %>

<section class=" page-header-xs">
  <div class="container">

    <h1 class="inline-block m-0">قائمة العناوين</h1>
    <!-- breadcrumbs -->
    <%= link_to 'عنوان جديد', new_location_path, class: 'btn btn-primary pull-left btn-sm mt-5' %>
  </div>

</section>
<!-- /PAGE HEADER -->

<section class="padding-top-0">
  <div class="container">
    <%= render "shared/bootstrap_alert" %>
    <div class="row">
      <!-- RIGHT -->
      <div class="col-lg-3 col-sm-4">
        <div class="buttons-autohide margin-bottom-60 text-center">
          <a href="#">
            <%= image_tag 'off_1.png', class: "img-responsive", width: "270", height: "350"  %>
          </a>
        </div>
      </div>
      <!-- LEFT -->
      <div class="col-lg-9 col-sm-8">
        <div class="white-block p-0">
          <% if @locations.count > 0 %>
            <table id="favorite_table">
              <tbody>
                <colgroup>
                  <col width="col-lg-1">
                  <col class="col-lg-10">
                  <col width="col-lg-1">
                </colgroup>
                <%= render @locations %>
              </tbody>
            </table>
          <% else %>
            <!-- EMPTY CART -->
            <div class="text-center white-block">
              <p><strong>لا يوجد عناوين مضافة بعد</strong></p>
              <%= link_to "اضف عنوانك الآن", new_location_path, class: "btn btn-primary"  %> 
            </div>
            <!-- /EMPTY CART -->
          <% end %>
        </div>
        <div class="text-center">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
    <!-- /CART -->
  </div>
</section> 

