<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Xera Bazar" %></title>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=<%= Settings.gmap.api %>&libraries=places"></script>
    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag "admin" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render 'admin/shared/header' %>
      <%= render 'admin/shared/sidebar' %>
      <div class="content-wrapper">
        <%= yield %>
      <div>
    </div>
  </body>
</html>
