<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' - ' end %>
      <%= Settings.meta.title %>
    </title>
    <%= render 'shared/head_meta' %>
  </head>
  <body class="smoothscroll enable-animation">
    <div id="wrapper">
      <%= render "shared/header" unless @disable_nav %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
    <%= yield :footer %>
  </body>
</html>
