<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' - ' end %>
      <%= @current_store.meta_title %>
    </title>
    <%= render 'shared/stores/head_meta' %>
  </head>
  <body class="smoothscroll enable-animation">
    <div id="wrapper">
      <% if @main_header %>
        <%= render "shared/header" %>
      <% else %>
        <%= render "shared/stores/header" %>
      <% end %>
      <%= yield %>
      <%= render "shared/stores/footer" %>
    </div>
    <%= yield :footer %>
    <% if @current_store.google_maps_key.present? %>
      <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=<%= @current_store.google_maps_key %>&libraries=places"></script>
      <script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
    <% end %>
  </body>
</html>
