<%= title t('buttons.update_account') %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-md-offset-2">
        <div class="white-block">
          <h3><%= t('buttons.update_account') %></h3>
          <%= bootstrap_devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mb-0" }) do |f| %>
            <div class="form-group">
              <%= f.label :fullname %>
              <%= f.text_field :fullname, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :mobile %>
              <%= f.text_field :mobile, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, autofocus: true, class: 'form-control' %>
            </div>
            <div class="clearfix">
              <%= f.button t('buttons.update_account'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.signup_loading')} ..." } %> 
            </div>           
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / -->