<%= title t('buttons.signup') %>
<section class='page-header page-header-xs'>
  <div class='container'>
    <h1>
      <%= t('header.signup') %>
    </h1>
    <ol class='breadcrumb'>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <%= t('header.home') %>
        <% end %>
      </li>
      <li class='active'>
        <%= t('header.signup') %>
      </li>
    </ol>
  </div>
</section>
<section class='section pt-0'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='box-border-shadow p-20'>
          <div class='soical_button'>
            <div class='row'>
              <div class='col-md-6 col-md-offset-3'>
                <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-primary btn-facebook" do %>
                  <i class="fa fa-facebook"></i>
                  <%= t('buttons.login_by_facebook') %>
                <% end %>
              </div>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', id: "new_user", class: "clearfix" }) do |f| %>
            <% unless @current_store.present? %>
              <%= f.fields_for :store do |f| %>
                <div class="form-group <%= 'has-error' if resource.errors[:"store.ident"].any? %>">
                  <%= f.label :ident %>
                  <div class="input-group">
                    <span class="input-group-addon middle-addon" dir="ltr">.<%= Rails.application.credentials[Rails.env.to_sym][:host] %></span>
                    <%= f.text_field :ident, autofocus: true, class: 'form-control'  %>
                  </div>
                  <small class="help-block <%= 'hidden' unless resource.errors[:"store.ident"].any? %>"><%= resource.errors[:"store.ident"].first %></small>
                </div>
              <% end %>
            <% end %>
            <div class="form-group <%= 'has-error' if resource.errors[:fullname].any? %>">
              <%= f.label :fullname %>
              <%= f.text_field :fullname, autofocus: true, class: 'form-control' %>
              <small class="help-block <%= 'hidden' unless resource.errors[:fullname].any? %>"><%= resource.errors[:fullname].first %></small>
            </div>
            <div class="form-group <%= 'has-error' if resource.errors[:email].any? %>">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              <small class="help-block <%= 'hidden' unless resource.errors[:email].any? %>"><%= resource.errors[:email].first %></small>
            </div>
            <div class="form-group <%= 'has-error' if resource.errors[:password].any? %>">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <small class="help-block <%= 'hidden' unless resource.errors[:password].any? %>"><%= resource.errors[:password].first %></small>
            </div>
            
            <div class="form-group <%= 'has-error' if resource.errors[:terms].any? %>">
             
              <div class="termbox mb10">
                <label></label>
                <%= f.check_box :terms %>
                <span><%= t('info.terms') %>
                  <a href="/p/terms" class="theme-color"><%= t('footer.pages.terms') %></a>
                </span>
              </div>
              <small class="help-block <%= 'hidden' unless resource.errors[:terms].any? %>">لم توافق على شروط الاستخدام</small>
            </div>
            <%= f.button t('buttons.signup'), class: "btn btn-primary pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ t('buttons.signup_loading')} ..."} %>
          <% end %>
          <% if @current_store %>
            <hr>
            <div class='row'>
              <div class='col-md-6 col-xs-6'>
                <%= link_to t('buttons.login'), new_session_path(resource_name) %>
              </div>
              <div class='col-md-6 col-xs-6'>
                <%= link_to t('info.forget_password'), new_password_path(resource_name),class: "pull-left" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
